/**
  * @name: 랭킹 사전안내
  * @tag : 
  * @url : /html_guide_md/RAN/RAN_001_0001.html
*/
.my-main-ranking-opening {padding:30px 24px;}
.my-main-ranking-opening .my-main-ranking-tit .tit-ranking {text-align:center;}
.my-main-ranking-opening .my-main-ranking-tit .tit-ranking .hab {display:inline-block; position:relative; width:62px; height:27px;}
.my-main-ranking-opening .my-main-ranking-tit .tit-ranking .hot {display:inline-block; position:relative; width:57px; height:27px; margin-left:7px}
.my-main-ranking-opening .my-main-ranking-tit .tit-ranking span img {width:100%;}
.my-main-ranking-opening .my-main-ranking-tit .tit-ranking .hot:after {display:block; position:absolute; top:-5px; right:-6px; width:6px; height:6px; border-radius:50%; background:#CE2D2D; content:''; animation:blinking 2s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;}
.my-main-ranking-opening .my-main-ranking-tit .txt {margin-top:10px; font-size:15px; font-weight:300; line-height:20px; color:#111; text-align:center;}
.my-main-ranking-opening .swiper-area {margin-top:30px;}
.my-main-ranking-opening .myRankingSwiper .swiper-slide .img img{width:100%;}
.my-main-ranking-opening .myRankingSwiper .swiper-slide .txt {position:absolute; width:100%; bottom:25px; font-size:15px; line-height:1.3; text-align:center;}
.my-main-ranking-opening .swiper-pagination {height:8px; margin-top:18px; font-size:0;}
.my-main-ranking-opening .swiper-pagination .swiper-pagination-bullet {width:8px; height:8px; margin:0 4px; border-radius:50%; background-color:#E5E5E5; opacity:1;}
.my-main-ranking-opening .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {width:8px; background-color:#888;}
.my-main-ranking-opening .my-comming-area {margin-top:57px; text-align: center;}
.my-main-ranking-opening .my-comming-area p {font-size:13px; line-height:19px;}
.my-main-ranking-opening .my-comming-area .date {color:#00A49D;}


@keyframes blinking {
  0% {opacity:0; }
  15% {opacity:1;} 
  45% {opacity:1;} 
  50% {opacity:0;} 
  100% {opacity:0;} 
}

/**
  * @name: 랭킹 카드 공통 스타일
  * @tag : 
  * @url : /html_guide_md/RAN/RAN_001_0002.html
*/
.my-main-ranking {background-color:#F4F6F8; padding:24px;}
.my-main-ranking .my-ranking-card {padding:22px 18px 25px; border-radius:15px; background-color:#fff; box-shadow: 2px 3px 8px 0px rgba(217, 223, 235, 0.6); }
.my-main-ranking .my-ranking-card + .my-ranking-card,
.my-main-ranking .my-ranking-card-banner + .my-ranking-card,
.my-main-ranking .my-ranking-card + .my-ranking-card-banner {margin-top:24px;}
.my-ranking-card .tit-area {position:relative;}
.my-ranking-card .tit-area .tit {font-size:24px; font-weight:300; line-height:32px;}
.my-ranking-card .tit-area .tit strong,
.my-ranking-card .tit-area .tit strong * {font-size:24px; font-weight:bold; line-height:32px;}
.my-ranking-card .tit-area .desc {position:relative; margin-top:6px; font-size:14px; font-weight:300; color:#666; line-height:21px;}
.my-ranking-card .tit-area .desc.has-star {padding-left:10px;}
.my-ranking-card .tit-area .desc.has-star:before {display:block; position: absolute; top:50%; content:'*'; margin-top:-7px; left:0; line-height:20px;}
.my-ranking-card .txt-area .tag {margin-bottom:8px; font-size:13px; font-weight:bold;}
.my-ranking-card .tit-area + .cont-area {margin-top:20px;}
.my-ranking-card .tit-area.has-img .img {position:absolute; width:68px; height:68px; top:0%; right:0;}
.my-ranking-card .tit-area.has-img .img img {width:100%;}
.my-ranking-card .cont-area {position:relative;}
.my-ranking-card .cont-area .img img {width:100%;}
.my-ranking-card .cont-area + .my-btn-area {margin-top:25px;}
.my-ranking-card .my-btn-type.my-select-type {display:inline-block; text-align:center;}
.my-main-ranking .btn-link-banner.type-icon.suggest {width:100%; margin-top:24px;}

/* 랭킹카드 중 그래프 가지고 있는 것 */
.my-ranking-card .cont-area.has-graph .desc {position:absolute; width:80px; top:66px; left:50%; margin-left:-40px;}
.my-ranking-card .cont-area.has-graph .desc p {font-size:12px; line-height:15px; color:#073B4C; text-align:center;}
.my-ranking-card .cont-area.has-graph .item {position:absolute;}
.my-ranking-card .cont-area.has-graph .item .percent {display:block; font-size:14px; font-weight:bold;}
.my-ranking-card .cont-area.has-graph .item .num {display:block; font-size:11px;}
.my-ranking-card .cont-area.has-graph .item.item01 {top:79px; right:10px;}
.my-ranking-card .cont-area.has-graph .item.item01 span {color:#073B4C;}
.my-ranking-card .cont-area.has-graph .item.item02 {top:115px; left:27px;}
.my-ranking-card .cont-area.has-graph .item.item02 span {color:#118AB2;}
.my-ranking-card .cont-area.has-graph .item.item03 {top:13px; left:17px;}
.my-ranking-card .cont-area.has-graph .item.item03 span {color:#19C699;}
.my-ranking-card .cont-area.has-graph + .my-btn-area {margin-top:0;}

/* 랭킹카드 - 리스트 기본 틀 생김새 */
.my-ranking-card .my-ranking-list li {display:flex; height:40px; padding:0 20px; border-radius:5px; background-color:rgba(244, 246, 248, 0.5); align-items:center;} 
.my-ranking-card .my-ranking-list li.rank01 {background-color:rgba(255, 255, 255, 0.9); box-shadow:2px 3px 8px 0px rgba(217, 223, 235, 0.6);}
.my-ranking-card .my-ranking-list li + li {margin-top:7px;}

/* 랭킹카드 - 리스트 - 퍼센트 타입 */
.my-ranking-card .my-ranking-list.type-percent li {justify-content:space-between;}
.my-ranking-card .my-ranking-list.type-percent li .txt {font-size:13px; color:#666;}
.my-ranking-card .my-ranking-list.type-percent li .percent {font-size:16px; color:#666;}
.my-ranking-card .my-ranking-list.type-percent li.rank01 .txt {font-size:17px; font-weight:bold;}
.my-ranking-card .my-ranking-list.type-percent li.rank01 .percent {font-size:20px; font-weight:bold;}

/* 랭킹카드 - 리스트 - 랭킹 타입 */
.my-ranking-card .my-ranking-list.type-rank li .rank {margin-right:13px; font-size:13px; color:#666;}
.my-ranking-card .my-ranking-list.type-rank li .txt {font-size:13px; color:#666;}
.my-ranking-card .my-ranking-list.type-rank li.rank01 .rank {margin-right:11px; font-size:17px; font-weight:bold;}
.my-ranking-card .my-ranking-list.type-rank li.rank01 .txt {font-size:17px; font-weight:bold;}

/* 랭킹카드 - 돈 박스 */
.my-ranking-card .money-box {position:relative; padding:10px 0;} 
/* .my-ranking-card .money-box .txt {position:absolute; width:100%; left:0; bottom:10px; text-align:center; font-size:28px; font-weight:bold; line-height:1;}   */
.my-ranking-card .money-box .txt {position:absolute; display:flex; width:100%; height:100%; left:0; bottom:0; text-align:center; font-size:28px; font-weight:bold; line-height:1; align-items:center; justify-content:center;}  
.my-ranking-card .money-box .txt .num {display:block; margin:0 7px; font-size:28px; font-weight:bold; line-height:1;}

/* 랭킹카드 - 주식 박스 */
.my-ranking-card .stock-box {position:relative; padding:20px 0;} 
.my-ranking-card .stock-box .txt-area {position:absolute; display:flex; flex-direction:column; width:100%; height:calc(100% - 40px); left:0; top:20px; text-align:center; font-size:28px; font-weight:bold; line-height:1; align-items:center; justify-content:center;}  
.my-ranking-card .stock-box .txt-area .item {display:flex; width:166px; height:50%; padding: 0 15px; align-items:center; justify-content:space-between;}
.my-ranking-card .stock-box .txt-area .item p {font-size:20px; line-height:1;}
.my-ranking-card .stock-box .txt-area .item p .num {font-size:20px; font-weight:bold; line-height:1;}

/* S03 생활금융티켓 - OTT */
.my-ranking-card.card-s03 .cont-area .img {margin:0 -18px;}

/* S04 생활금융티켓 - 운동 */
.my-ranking-card.card-s04 .cont-area {height:175px; background:url('../../images/md/S04_exercise.png') no-repeat right bottom / 276px;}
.my-ranking-card.card-s04 .cont-area .cont-txt-area .tit {margin-top:8px; font-size:20px; font-weight:bold; line-height:1;}
.my-ranking-card.card-s04 .cont-area .cont-txt-area .desc {margin-top:10px;}
.my-ranking-card.card-s04 .cont-area .cont-txt-area .desc p {font-size:13px; font-weight:300; line-height:19px;}
.my-ranking-card.card-s04 .cont-area .cont-txt-area .desc p span {font-size:13px; color:#00A49D;}

/* G01 금융티켓 - 페이머니 */
.my-ranking-card.card-g01 .cont-area.has-graph .desc p {color:#591C87;}
.my-ranking-card.card-g01 .cont-area.has-graph .item.item01 {top:79px; right:5px;}
.my-ranking-card.card-g01 .cont-area.has-graph .item.item01 span {color:#591C87;}
.my-ranking-card.card-g01 .cont-area.has-graph .item.item02 {top:115px; left:1px; text-align:right;}
.my-ranking-card.card-g01 .cont-area.has-graph .item.item02 span {color:#864FBE;}
.my-ranking-card.card-g01 .cont-area.has-graph .item.item03 {top:12px; left:0px;}
.my-ranking-card.card-g01 .cont-area.has-graph .item.item03 span {color:#C174EE;}

/* G02 금융티켓 - 보험특약 */
.my-ranking-card.card-g02 .tit-area.has-img .img {width:66px; height:66px; right:10px;}

/* G03 금융티켓 - 인기 신용카드 */
.my-ranking-card.card-g03 {padding:20px 18px 40px; box-shadow:none;}
.my-ranking-card.card-g03 .tit-area + .cont-area {margin-top:25px;}
.my-ranking-card.card-g03 .tit-area {padding-top:88px; text-align:center; background:url('../../images/md/img_emoji_love.png') no-repeat top center / 88px 88px;}
.my-ranking-card.card-g03 .tit-area .desc {margin-top:5px;}
.my-ranking-card.card-g03 .my-ranking-list.type-rank li .card-img {width:26px; margin-right:20px;}
.my-ranking-card.card-g03 .my-ranking-list.type-rank li .card-img img {width:100%;}
.my-ranking-card.card-g03 .my-ranking-list.type-rank li.rank01 .rank {margin-right:19px;}
.my-ranking-card.card-g03 .my-ranking-list.type-rank li .rank {margin-right:25px;}

/* G03 금융티켓 - 인기 신용카드 */
.my-ranking-card.card-g04 .cont-area {width:100%; height:172px; background:url('../../images/md/G04_img.png') no-repeat center / 276px;}
.my-ranking-card.card-g04 .txt-wrap {position:absolute; width:276px; height:172px; top:0; left:50%; margin-left:-138px;} 
.my-ranking-card.card-g04 .txt-wrap .item {display:flex; position:absolute;  flex-direction:column; align-items:center; justify-content:center;}
.my-ranking-card.card-g04 .txt-wrap .item span {display:block; font-size:13px; color:#111;}
.my-ranking-card.card-g04 .txt-wrap .item em {display:block; margin-top:3px; font-size:16px; font-weight:bold; color:#6a4bcb;}
.my-ranking-card.card-g04 .txt-wrap .item.item01 {width:140px; height:140px; top:0; left:0;}
.my-ranking-card.card-g04 .txt-wrap .item.item01 em {font-size:18px;}
.my-ranking-card.card-g04 .txt-wrap .item.item02 {width:120px; height:120px; bottom:10px; right:0;}
.my-ranking-card.card-g04 .txt-wrap .item.item02 em {font-size:18px;}
.my-ranking-card.card-g04 .txt-wrap .item.item03 {width:80px; height:80px; bottom:0; left:91px;}
.my-ranking-card.card-g04 .txt-wrap .item.item04 {width:60px; height:60px; top:0; right:71px;}
.my-ranking-card.card-g04 .txt-wrap .item.item04 span {font-size:12px;}
.my-ranking-card.card-g04 .txt-wrap .item.item04 em {margin-top:0; font-size:14px;}

/* G05 금융티켓 - 현금자산 */
.my-ranking-card.card-g06 .my-ranking-list.type-rank li {padding:0 55px; justify-content:space-between;}
.my-ranking-card.card-g06 .my-ranking-list.type-rank li .medal-img {width:34px; height:34px; margin-right:35px;}
.my-ranking-card.card-g06 .my-ranking-list.type-rank li .medal-img img {width:100%;}
.my-ranking-card.card-g06 .my-ranking-list.type-rank li .txt-wrap {display:flex; justify-content:end;}
.my-ranking-card.card-g06 .my-ranking-list.type-rank li .txt {margin-right:19px; color:#111; font-size:13px;}
.my-ranking-card.card-g06 .my-ranking-list.type-rank li .won {color:#111; font-size:13px;}
.my-ranking-card.card-g06 .my-ranking-list.type-rank li.rank01 .txt,
.my-ranking-card.card-g06 .my-ranking-list.type-rank li.rank01 .won {font-size:17px; font-weight:bold;}
.my-ranking-card.card-g06 .my-ranking-list.type-rank li.rank01 .txt {margin-right:13px;}

/* G06 금융티켓 - 대출금리 */
[data-chart-type="interest"].case-1 .chartGroup .y-area {bottom: 20px; }
[data-chart-type="interest"].case-1 .chartGroup .y-area li::before {left: 0; border:1px dotted #E5E5E5; }
[data-chart-type="interest"].case-1 .chartGroup .y-area li:last-child::before {border:1px solid #E5E5E5; }
[data-chart-type="interest"].case-1 .chartGroup .x-area {padding-left: 0; }
[data-chart-type="interest"].case-1 .chartGroup .x-area li .bar > em {border-top-left-radius:20px; border-top-right-radius:20px; background-color: #D6CAFC;}
[data-chart-type="interest"].case-1 .chartGroup .x-area li.selected .bar > em {background-color: #D6CAFC; }
[data-chart-type="interest"].case-1 .chartGroup .x-area li .x {font-size:13px; color: #111;}
[data-chart-type="interest"].case-1 .chartGroup .tooltip {border: 1px #4B5A61 solid; }
[data-chart-type="interest"].case-1 .chartGroup .tooltip::after {border-right: 1px #4B5A61 solid; border-bottom: 1px #4B5A61 solid; }

[data-chart-type="interest"].case-1 .chartGroup .x-area li .bar > em .tooltip {position: absolute; display:flex; align-items:center; height:33px; left: 50%; top:-45px; background-color: #fff; border:1px solid #8665EF; border-radius:15px; padding: 5px 16px; transform: translateX(-50%); margin-left: -1px; box-shadow: 2px 2px 4px 2px rgba(217, 223, 235, 0.6); transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
[data-chart-type="interest"].case-1 .chartGroup .x-area li .bar > em .tooltip::after {content: ''; background-color: #fff; width: 8px; height: 8px; position: absolute; left: 50%; bottom: -7px; transform: rotate(45deg) translateX(-50%); border-right: 1px #8665EF solid; border-bottom: 1px #8665EF solid; }
[data-chart-type="interest"].case-1 .chartGroup .x-area li .bar > em .tooltip em {display: block; font-size: 12px; line-height: 12px; letter-spacing: 0 !important; margin-bottom: 5px; }
[data-chart-type="interest"].case-1 .chartGroup .x-area li .bar > em .tooltip em * {font-size: 12px; line-height: 12px; }
[data-chart-type="interest"].case-1 .chartGroup .x-area li .bar > em .tooltip span {display: block; color:#8665EF; font-size: 13px; line-height: 13px; letter-spacing: 0 !important; word-break: keep-all; }
[data-chart-type="interest"].case-1 .chartGroup .x-area li .bar > em .tooltip span * {font-size: 13px; line-height: 13px; }

/* G09 금융티켓 - 주식 */
.my-ranking-card.card-g09 .tit-area .stock-logo{width:148px; margin-top:5px;}
.my-ranking-card.card-g09 .tit-area .stock-logo img{width:100%;}
.my-ranking-card.card-g09 .tit-area + .cont-area,
.my-ranking-card.card-g09 .cont-area + .my-btn-area {margin-top:0;}
.my-ranking-card.card-g09 .tit-area .desc {margin-top:9px;}


/* 랭킹 팝업 */
.my-select-list-area.my-ranking-info-pop > h2 {justify-content:start;}
.my-ranking-info-pop .my-ranking-pop-area + .my-btn-area {margin-top:25px;}
.my-ranking-info-pop .my-ranking-pop-area .cont {padding:10px 0; min-height:90px;}
.my-ranking-info-pop .my-ranking-pop-area .cont .txt {font-size:15px; line-height:20px; font-weight:300; color:#111;}

.my-ranking-info-pop.pop-s01 .my-ranking-pop-area .cont {background:url('../../images/md/ic_s01.png') no-repeat center right / 90px 90px;}
.my-ranking-info-pop.pop-s02 .my-ranking-pop-area .cont {background:url('../../images/md/ic_s02.png') no-repeat center right / 90px 90px;}
.my-ranking-info-pop.pop-s03 .my-ranking-pop-area .cont {background:url('../../images/md/ic_s03.png') no-repeat center right / 90px 90px;}
.my-ranking-info-pop.pop-s04 .my-ranking-pop-area .cont {background:url('../../images/md/ic_s04.png') no-repeat center right / 90px 90px;}
.my-ranking-info-pop.pop-s05 .my-ranking-pop-area .cont {background:url('../../images/md/ic_s05.png') no-repeat center right / 90px 90px;}
.my-ranking-info-pop.pop-s07 .my-ranking-pop-area .cont {background:url('../../images/md/ic_s07.png') no-repeat center right / 90px 90px;}

.my-ranking-info-pop.pop-g01 .my-ranking-pop-area .cont {background:url('../../images/md/ic_g01.png') no-repeat center right / 90px 90px;}
.my-ranking-info-pop.pop-g02 .my-ranking-pop-area .cont {background:url('../../images/md/ic_g02.png') no-repeat center right / 90px 90px;}
.my-ranking-info-pop.pop-g11 .my-ranking-pop-area .cont {background:url('../../images/md/ic_g11.png') no-repeat center right / 90px 90px;}


/* 랭킹 - 풀팝업 */
.my-container.my-ranking {padding:0 24px;}
.my-ranking-detail-title {padding:5px 0 40px; border-bottom:1px solid #E5E5E5;}
.my-ranking-detail-title .tit {font-size:21px; font-weight:300; line-height:1;}
.my-ranking-detail-title .tit strong{font-size:21px; font-weight:bold; line-height:1;}
.my-ranking-detail-title .my-amount-info {justify-content:flex-start;}
.my-ranking-detail-title .my-amount-info span.total-amount {margin-top:12px; padding-left:0; font-size:28px; line-height:28px;}
.my-ranking-detail-title .my-amount-info span.total-amount em {font-size:28px; font-weight:bold;}
.my-ranking-detail-title .my-amount-info span.total-amount .unit-krw {font-size:28px; line-height:28px;}
.my-ranking-detail-title .desc {margin-top:5px; font-size:13px; color:#A2A2A2;} 
.my-ranking-detail-title .desc.has-star {position:relative; padding-left:10px;}
.my-ranking-detail-title .desc.has-star:before {display:block; position: absolute; top:50%; content:'*'; margin-top:-7px; left:0; line-height:20px;}
.my-ranking-detail-cont {padding-top:35px;}
.my-ranking-detail-cont .bubble {position:relative; width:250px; height:32px; padding:0 20px; margin:auto; border-radius:50px; background-color:#EFEBFD;;}
.my-ranking-detail-cont .bubble:after {content: ''; background-color: #EFEBFD; width: 8px; height: 8px; position: absolute; left: 50%; bottom: -7px; transform: rotate(45deg) translateX(-50%);}
.my-ranking-detail-cont .bubble p,
.my-ranking-detail-cont .bubble p * {font-size:14px; color:#8664EF; line-height:32px; text-align:center;}
.my-ranking-detail-cont .img {width:91px; margin:10px auto 0;}
.my-ranking-detail-cont .img img {width:100%}
.my-ranking-detail-cont .txt {margin-top:12px; text-align:center; font-size:18px; font-weight:bold;}
.my-ranking-detail-cont .connect-area {margin-top:70px;}
.my-container.my-ranking .my-btn-area-fix02 .connect-area {padding:10px 0 35px; background:#fff;}
.my-container.my-ranking .my-btn-area-fix02 .connect-area .my-btn-txt {margin-top:10px;}

.my-ranking-detail-cont .detail-list > li {display:flex;}
.my-ranking-detail-cont .detail-list > li + li {margin-top:30px;}
.my-ranking-detail-cont .detail-list > li .rank {display:flex; width:36px; height:36px; margin-right:15px; border-radius:12px; align-items:center; justify-content:center; background-color:#F6F7F9; font-size:12px; color:#666;}
.my-ranking-detail-cont .detail-list > li .tit {font-size:15px; color:#111;}
.my-ranking-detail-cont .detail-list > li .info-items {display:flex; margin-top:5px;}
.my-ranking-detail-cont .detail-list > li .info-items li {display:flex; align-items:center; font-size:13px; color:#888;}
.my-ranking-detail-cont .detail-list > li .info-items li + li:before {display:inline-block; width:1px; height:12px; margin:0 9px; background-color:#E5E5E5; content:'';}
.my-ranking-detail-cont .detail-list > li.rank01 .rank{background-color:#EFEBFD; color:#8665EF;}

.my-ranking-detail-cont .card-used-box {padding:0 20px; background-color:#F8F8F8; border-radius:6px;}
.my-ranking-detail-cont .card-used-box .used-list li {display:block; padding:25px 0;}
.my-ranking-detail-cont .card-used-box .used-list li + li {border-top:1px solid #E5E5E5;}
.my-ranking-detail-cont .card-used-box .used-list li .card-cnt {display:flex; font-size:15px; }
.my-ranking-detail-cont .card-used-box .used-list li .card-cnt * {font-size:15px;}
.my-ranking-detail-cont .card-used-box .used-list li .card-cnt span {display:block; margin-left:20px;}
.my-ranking-detail-cont .card-used-box .used-list li .amount-tot {display:flex; margin-top:5px; font-size:15px; justify-content:end;}
.my-ranking-detail-cont .card-used-box .used-list li .amount-tot * {font-size:15px;}
.my-ranking-detail-cont .card-used-box .used-list li .amount-tot em {font-weight:bold;}
.my-ranking-detail-cont .card-used-box .used-list li .amount-tot strong {display:block; margin-left:10px;}

.my-ranking-detail-cont .shopping-used-box {padding:0 20px; background-color:#F8F8F8; border-radius:6px;}
.my-ranking-detail-cont .shopping-used-box .used-list li {display:block; padding:20px 0;}
.my-ranking-detail-cont .shopping-used-box .used-list li + li {border-top:1px solid #E5E5E5;}
.my-ranking-detail-cont .shopping-used-box .used-list li .date{font-size:14px;line-height:15px;color:#888;}
.my-ranking-detail-cont .shopping-used-box .used-list li .shopping{display:flex;align-items:center;justify-content:space-between;}
.my-ranking-detail-cont .shopping-used-box .used-list li .shopping .name{font-size:15px;line-height:15px;color:#666;margin-top:11px; width: calc(100% - 144px); white-space: nowrap; overflow:hidden; text-overflow: ellipsis;}
.my-ranking-detail-cont .shopping-used-box .used-list li .shopping .price{position:relative;font-size:15px;line-height:15px;color:#111;margin-top:11px;padding-right:19px; text-align:right;}
.my-ranking-detail-cont .shopping-used-box .used-list li .shopping .price:after {position:absolute; display:block; width:12px; height:15px; top:0; right:0; background:url('../../images/md/btn-arr-right.png') no-repeat center / 100%; content:'';}
.my-ranking-detail-cont .shopping-used-box .used-list li a{display:block;}

/* 랭킹 - 풀팝업 - 택시비 s01 */
.my-ranking-detail-cont .img {width:112px;}

/* 랭킹카드 - 기타 배너 스타일 */
.my-ranking-card-banner + .my-ranking-card-banner {margin-top:24px;}
.my-ranking-card-banner {display:block; padding:22px 18px; border-radius:15px; box-shadow: 2px 3px 8px 0px rgba(217, 223, 235, 0.6);}
.my-ranking-card-banner .txt-area {position:relative;}
.my-ranking-card-banner .txt-area:after {position:absolute; top:50%; right:0; content:'';}
.my-ranking-card-banner .txt-area .sub-txt {font-size:15px; color:#333;}
.my-ranking-card-banner .txt-area .sub-txt strong{font-weight:bold;font-size:15px;color:#333;}
.my-ranking-card-banner .txt-area .sub-txt + .main-txt {margin-top:5px;}
.my-ranking-card-banner .txt-area .main-txt { font-size:19px; line-height:21px; font-weight:bold; color:#111;}
.my-ranking-card-banner .txt-area .main-txt.line2 {line-height:28px;}
.my-ranking-card-banner .txt-area .main-txt + .sub-txt {margin-top:8px;line-height:21px;}
.my-ranking-card-banner .txt-area + .my-btn-area {margin-top:35px;}
.my-ranking-card-banner .my-btn-fake {display:inline-flex; font-size:15px; color:#00A49D; align-items:center;}
.my-ranking-card-banner .my-btn-fake:after {display:block; width:8px; height:8px; margin-left:3px; background:url('../../images/md/btn_more_s_b.png') no-repeat center / 100%; content:'';}

.my-ranking-card-banner.card-e01 .txt-area:after {width:86px; height:62px; margin-top:-31px; background:url('../../images/md/E01_bg.png') no-repeat center / 100%;}
.my-ranking-card-banner.card-e02 .txt-area:after {width:87px; height:58px; margin-top:-29px; background:url('../../images/md/E02_bg.png') no-repeat center / 100%;}
.my-ranking-card-banner.card-e03 .txt-area:after {width:84px; height:67px; top:inherit; bottom:-7px;  background:url('../../images/md/E03_bg.png') no-repeat center / 100%;}
.my-ranking-card-banner.card-e04 .txt-area:after {width:86px; height:62px; top:inherit; bottom:0; background:url('../../images/md/E04_bg.png') no-repeat center / 100%;}
.my-ranking-card-banner.card-e05 .txt-area:after {width:85px; height:65px; margin-top:-32px; background:url('../../images/md/E05_bg.png') no-repeat center / 100%;}
.my-ranking-card-banner.card-e06 .txt-area:after {width:87px; height:63px; margin-top:-31px; background:url('../../images/md/E06_bg.png') no-repeat center / 100%;}
.my-ranking-card-banner.card-e07 .txt-area:after {width:83px; height:63px; margin-top:-31px; background:url('../../images/md/E07_bg.png') no-repeat center / 100%;}
.my-ranking-card-banner.card-e08 .txt-area:after {width:83px; height:63px; margin-top:-31px; background:url('../../images/md/E08_bg.png') no-repeat center / 100%;}
.my-ranking-card-banner.card-e09 .txt-area:after {width:83px; height:63px; margin-top:-31px; background:url('../../images/md/E09_bg.png') no-repeat center / 100%;}

/* 기타배너 - E03 데이터 영역 */
.my-ranking-card-banner.card-e03 .data-area {display:flex; margin-top:30px; align-items:center;}
.my-ranking-card-banner.card-e03 .data-area .money {display:flex; align-items:center; font-size:21px; color:#2776CE;  line-height:1;}
.my-ranking-card-banner.card-e03 .data-area .money em {display:inline-block; margin-right:3px;font-size:21px; color:#2776CE; font-weight:bold; line-height:1;}
.my-ranking-card-banner.card-e03 .data-area .interest {margin-left:5px; font-size:15px; color:#666; line-height:1;}

/* 기타배너 - E04 */
.my-ranking-card-banner.card-e04 .txt-area {display:flex; min-height:109px; flex-direction:column;}
.my-ranking-card-banner.card-e04 .txt-area .main-txt {line-height:1.3;}
.my-ranking-card-banner.card-e04 .txt-area .tag {margin-top:auto; font-size:15px; color:#CE2D2D;}

/* 기타배너 - E07, E08, E09 공통 */
.my-ranking-card-banner.expense-area {border-radius:20px; padding:0px; position: relative; }
.my-ranking-card-banner.expense-area .tit-area {padding:22px 18px; border-radius:20px 20px 0 0; background-color:#407484;}
.my-ranking-card-banner.expense-area h4 {font-size: 19px; line-height:28px; font-weight:300; word-break: keep-all; color:#fff;}
.my-ranking-card-banner.expense-area h4 * {font-size: 19px; line-height: 28px; color:#fff;}
.my-ranking-card-banner.expense-area h4 strong {font-weight: 700; }
.my-ranking-card-banner.expense-area .cont-area {padding:22px 18px; border-radius:0 0 20px 20px; background-color:#fff;}

/* 기타배너 - E07 */
.my-ranking-card-banner.card-e07 .hash-area .hash-tag{padding:6px 10px; background-color:#EBF9F8; color:#00A49D; font-size:15px; line-height:15px;}

/* 기타배너 - E08 */
.my-ranking-card-banner.card-e08 .cont-area{padding-top:0}
.my-ranking-card-banner.expense-area .chart-column-area {height: 170px;position: relative;display: flex; align-items: flex-end; justify-content: space-around; background-color: #fff; border-radius: 20px; margin: 0 -10px -10px; padding: 14px; }
.my-ranking-card-banner.expense-area .chart-column-area .column {width: 100%; }
.my-ranking-card-banner.expense-area .chart-column-area .column.c-1 .bar {background-color: #2b9f99; }
.my-ranking-card-banner.expense-area .chart-column-area .column.c-1 span {border: 1px #2B9F99 solid; color: #2B9F99; }
.my-ranking-card-banner.expense-area .chart-column-area .column.c-2 .bar {background-color: #7d66c3; }
.my-ranking-card-banner.expense-area .chart-column-area .column.c-2 span {border: 1px #7d66c3 solid; color: #7d66c3; }
.my-ranking-card-banner.expense-area .chart-column-area .column.c-3 .bar {background-color: #999; }
.my-ranking-card-banner.expense-area .chart-column-area .column.c-3 span {border: 1px #777 solid; color: #777; } 
.my-ranking-card-banner.expense-area .chart-column-area .column .chart-area {height: 66px; position: relative; }
.my-ranking-card-banner.expense-area .chart-column-area .column .chart-area .bar {width: 48px; position: absolute; bottom: 0; left: 0; right: 0; margin: 0 auto; height: 0; border-top-left-radius: 5px; border-top-right-radius: 5px; }
.my-ranking-card-banner.expense-area .chart-column-area .column .chart-area .bar.active img {opacity: 1; transform: translateY(-25px); }
.my-ranking-card-banner.expense-area .chart-column-area .column .chart-area .bar img {width: 20px;position: absolute;opacity: 0; transform: translateY(-40px); transition: 0.2s cubic-bezier(0.25, 0.8, 0.5, 1), z-index 0.2ms; top: 0; left: 0; right: 0; margin: 0 auto; }
.my-ranking-card-banner.expense-area .chart-column-area .column .data-area {border-top: 1px #dfdfdf solid;text-align: center;padding-top: 8px; }
.my-ranking-card-banner.expense-area .chart-column-area .column .data-area span {display: inline-block;margin-bottom: 8px;font-size: 12px;line-height: 12px;padding: 2px 10px;border-radius: 10px; }
.my-ranking-card-banner.expense-area .chart-column-area .column .data-area span * {font-size: 12px;line-height: 12px; }
.my-ranking-card-banner.expense-area .chart-column-area .column .data-area strong {display: block;text-align: center;font-size: 15px;line-height: 15px;font-weight: 700; }
.my-ranking-card-banner.expense-area .chart-column-area .column .data-area strong * {font-size: 15px; line-height: 15px; }
.my-ranking-card-banner.expense-area .chart-column-area .column .data-area strong em {font-weight: 700; }

/* 기타배너 - E09 */
.my-ranking-card-banner.expense-area .exm li {display: flex;justify-content: space-between; align-items: center; } 
.my-ranking-card-banner.expense-area .exm li span {font-size: 15px; line-height: 15px; }
.my-ranking-card-banner.expense-area .exm li span * {font-size: 15px; line-height: 15px; }
.my-ranking-card-banner.expense-area .exm li span img {height: 20px; display: inline-block;margin-right: 10px; margin-top: -1px; }
.my-ranking-card-banner.expense-area .exm li strong {font-size: 15px; line-height: 15px;letter-spacing: 0 !important; }
.my-ranking-card-banner.expense-area .exm li strong * {font-size: 15px;line-height: 15px; }

/* 랭킹 풀팝업 - 해외직구 */
.my-wrap.my-wrap-rel{position:relative;min-height:100vh;padding-bottom:170px;} 
.my-wrap.my-wrap-rel .my-btn-area-fix02{position:absolute;}

/* 맛집 배너 */
.my-main-ranking .my-ranking-card.taste-home-banner{box-shadow: 0 0 0 0; background:url(../../images/md/bg-tasty-home.png) no-repeat; background-size:cover; background-position: center center; min-height:302px; padding:0; position:relative;}
.my-main-ranking .my-ranking-card.taste-home-banner > a{display: flex; flex-direction: column; justify-content: space-between; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.3); position: absolute; border-radius: 15px; padding: 22px 18px 25px;}
.my-main-ranking .my-ranking-card.taste-home-banner > a .tit,
.my-main-ranking .my-ranking-card.taste-home-banner > a strong,
.my-main-ranking .my-ranking-card.taste-home-banner > a .tasty-btn{color:#fff;}
.my-main-ranking .my-ranking-card.taste-home-banner > a .tasty-btn{font-size:0.9375rem; font-weight: 500; border:1px solid rgba(255, 255, 255, 0.5); border-radius:10px; line-height: 1.267; padding:9px 0; display: inline-flex; align-items: center; justify-content: center;}

/* hot(랭킹) 메인 수정 23.03.14*/
.card-box-ban{
  display:flex; 
  flex-direction: column;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-position:center calc(100% - 118px);}
.card-box-ban .txt{font-weight:bold; font-size:24px;}
.card-box-ban .txt > span{font-size:24px; font-weight:bold; line-height: 32px;}
.food-roulette{
  position:relative;
  width:263px;
  height:263px;
  left: 50%;
  transform: translateX(-50%);}
.food-roulette:before{
  content:'';
  position:absolute;
  left:50%;
  top:-14px;
  display:block;
  width:30px;
  height:42px;
  transform: translateX(-50%);
  margin-left:1px;
  background:url('../../images/md/roulette_pin.png') no-repeat 0 0;
  background-size:100% auto;
  z-index:1;}
.food-roulette .roulette{
  width:100%;
  height:100%;
  background:url('../../images/md/roulette_bg.png') 0 0 no-repeat;
  background-size:100% 100%;
  -webkit-animation-duration:2s;
  animation-duration:2s;
  -webkit-animation-timing-function:ease;
  animation-timing-function:ease;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;}
.roulette.food_1{-webkit-animation-name:food_1;animation-name:food_1;-webkit-transform:rotate(2182.5deg);transform:rotate(2182.5deg);}
.roulette.food_2{-webkit-animation-name:food_2;animation-name:food_2;-webkit-transform:rotate(2497.5deg);transform:rotate(2497.5deg);}
.roulette.food_3{-webkit-animation-name:food_3;animation-name:food_3;-webkit-transform:rotate(2452.5deg);transform:rotate(2452.5deg);}
.roulette.food_4{-webkit-animation-name:food_4;animation-name:food_4;-webkit-transform:rotate(2407.5deg);transform:rotate(2407.5deg);}
.roulette.food_5{-webkit-animation-name:food_5;animation-name:food_5;-webkit-transform:rotate(2362.5deg);transform:rotate(2362.5deg);}
.roulette.food_6{-webkit-animation-name:food_6;animation-name:food_6;-webkit-transform:rotate(2317.5deg);transform:rotate(2317.5deg);}
.roulette.food_7{-webkit-animation-name:food_7;animation-name:food_7;-webkit-transform:rotate(2272.5deg);transform:rotate(2272.5deg);}
.roulette.food_8{-webkit-animation-name:food_8;animation-name:food_8;-webkit-transform:rotate(2227.5deg);transform:rotate(2227.5deg);}
@keyframes food_1	{
	0%	{transform:rotate(0deg);}
	100%	{transform:rotate(2182.5deg);}
}
@keyframes food_2	{
	0%	{transform:rotate(0deg);}
	100%	{transform:rotate(2497.5deg);}
}
@keyframes food_3	{
	0%	{transform:rotate(0deg);}
	100%	{transform:rotate(2452.5deg);}
}
@keyframes food_4	{
	0%	{transform:rotate(0deg);}
	100%	{transform:rotate(2407.5deg);}
}
@keyframes food_5	{
	0%	{transform:rotate(0deg);}
	100%	{transform:rotate(2362.5deg);}
}
@keyframes food_6	{
	0%	{transform:rotate(0deg);}
	100%	{transform:rotate(2317.5deg);}
}
@keyframes food_7	{
	0%	{transform:rotate(0deg);}
	100%	{transform:rotate(2272.5deg);}
}
@keyframes food_8	{
	0%	{transform:rotate(0deg);}
	100%	{transform:rotate(2227.5deg);}
}
.food-roulette .btn_roulette{
  position:absolute;
  left:50%;
  top:50%;
  width:58px;
  height:58px;
  transform:translate(-50%, -50%);
  margin:2px 0 0 2px;
  background:url('../../images/md/roulette_btn.png') 0 0 no-repeat;
  background-size:100% 100%;
  z-index:1;}
.card-box-ban.food-box > .tit-area > .txt-area {text-align:center; margin-bottom:29px;}
.card-box-ban.food-box .food-menu{
  display: flex;
  width: 100%;
  max-width: 160px;
  align-items: center;
  justify-content: center;
  height: 36px;
  margin: 0 auto;
  border: 2px solid #01A6A0;}
.card-box-ban.food-box .food_list{
  margin-left:31px;
  font-size:24px;
  line-height:32px;
  font-weight:bold;
  position:relative;}
.card-box-ban.food-box .food_list:before{
  content:'';
  display:block;
  position:absolute;
  top:3px;
  left:-31px;
  width:26px;
  height:26px;
  background-repeat: no-repeat;
  background-size:26px 26px;}
.card-box-ban.food-box .food_list.menu_list{display:none;}
.card-box-ban.food-box .food_list.que_mark{display:block; margin-left:0;}
.card-box-ban.food-box .food_1:before{background-image:url(../../images/md/food-menu-01.png);}
.card-box-ban.food-box .food_2:before{background-image:url(../../images/md/food-menu-02.png);}
.card-box-ban.food-box .food_3:before{background-image:url(../../images/md/food-menu-03.png);}
.card-box-ban.food-box .food_4:before{background-image:url(../../images/md/food-menu-04.png);}
.card-box-ban.food-box .food_5:before{background-image:url(../../images/md/food-menu-05.png);}
.card-box-ban.food-box .food_6:before{background-image:url(../../images/md/food-menu-06.png);}
.card-box-ban.food-box .food_7:before{background-image:url(../../images/md/food-menu-07.png);}
.card-box-ban.food-box .food_8:before{background-image:url(../../images/md/food-menu-08.png);}
.card-box-ban.food-box .my-ranking-card-banner.banner2023{margin-top:16px;}
.card-box-ban.food-box .my_surr_box{display:flex; font-size:15px; line-height:21px;}
.card-box-ban.food-box .my_surr_box p{font-weight:bold;}
.card-box-ban.food-box .my_surr_box .food_list.food_small {margin-left:28px; font-size:15px; line-height:21px;}
.card-box-ban.food-box .food_list.food_small:before{top:1px; left:-21px; width:20px; height:20px; background-size:20px 20px;}
.card-box-ban.food-box .hash-tag span{font-size:13px; color:#888; margin-top:2px;}
.card-box-ban.food-box .hash-tag span + span{margin-left:3px;}
.card-box-ban.pet-box{min-height:392px; background-image: url(../../images/md/img_pet_hospital.png); background-size: 210px 142px;}
.my-ranking-card-banner.banner2023.food-banner{display:none;}
.my-ranking-card-banner.banner2023{box-shadow: none; background-color:#D2F5F3; padding:18px;}
.my-ranking-card-banner.banner2023.pet-ban .txt-area .pet-main-txt{font-size:15px; line-height:21px;}
.my-ranking-card-banner.banner2023.pet-ban .txt-area .pet-main-txt > strong{font-weight:bold;}
.my-ranking-card-banner.banner2023.pet-ban .txt-area .pet-sub-txt{font-size:13px; line-height:21px; color:#888;}
.my-ranking-card-banner.banner2023.pet-ban .txt-area:after{
  content:'';
  width:72px;
  height:50px;
  background-image:url(../../images/md/img_pet_cat.png);
  background-size:72px 50px;
  margin-top:-25px;}
.my-2-top-type-select-area{background-color:transparent !important;}
.my-2-top-type-select-area h2 *{border-bottom:none; padding-right:0;}
.my-2-underline-select-area::before{display:none;}
.my-ranking-card-banner.card-e02.cash-car-2023 .txt-area:after{
  width:89px;
  height:65px;
  background-image: url(../../images/md/img_cashback.png);
  margin-top:-30px;}
.my-ranking-card-banner.card-e02.cash-car-2023 .sub-2023{font-size:15px; line-height:1.325; margin-top:4px;}
.my-ranking-card-banner.card-e02.cash-car-2023 .sub-2023 > span{font-size:15px; color:#008882; font-weight:bold;}
.card-box-ban.point-box{
  min-height:324px; 
  background-image:url(../../images/md/img_card_point.png);
  background-size:194px 124px;
  background-position-y:calc(100% - 89.5px);}
.my-ranking-card-banner.card-e01.new-card-ban-01 .txt-area .main-txt{display:flex; align-items:center;}
.my-ranking-card-banner.card-e01.new-card-ban-01 .txt-area .main-txt > img{margin-right:2px;}
.my-ranking-card-banner.card-e01.new-card-ban-01 .txt-area:after{
  margin-top:-31px;
  background-image: url(../../images/md/ic-investment.gif);
  width:68px;
  height:62px;}
.new-card-2023 .my-ranking-card-banner{box-shadow: none; margin-top:15px; background:#E6DEFF !important;}
.my-ranking-card.card-g03.new-card-2023 .tit-area{background-image: url(../../images/md/img_emoji_crown.png); background-size: 100px 86px;}
.my-ranking-card.card-g03.new-card-2023 .my-ranking-list li{height:auto; padding:7px 18px; justify-content: flex-start;}
.my-ranking-card.card-g03.new-card-2023 .my-ranking-list.type-rank li .card-img{width:auto; height:auto; margin-right:15px;}
.my-ranking-card.card-g03.new-card-2023 .my-ranking-list.type-rank li .card-img img{width:40px; height:26px;}
.my-ranking-card.card-g03.new-card-2023 .my-ranking-list.type-rank li .rank{margin-right:15px; display:flex;}
.my-ranking-card.card-g03.new-card-2023 .my-ranking-list.type-rank li .rank > span{font-size:16px; color:#666; margin-right:2px;}
.my-ranking-card.card-g03.new-card-2023 .my-ranking-list.type-rank li .rank,
.my-ranking-card.card-g03.new-card-2023 .my-ranking-list.type-rank li .txt{font-size:13px; color:#666;}
.my-ranking-card.card-g03.new-card-2023 .my-ranking-list li.rank01{padding:22px 18px; justify-content: space-between;}
.my-ranking-card.card-g03.new-card-2023 .my-ranking-list.type-rank li.rank01 .rank,
.my-ranking-card.card-g03.new-card-2023 .my-ranking-list.type-rank li.rank01 .txt{font-size:18px; margin-right:0; line-height:24px;}
.my-ranking-card.card-g03.new-card-2023 .my-ranking-list.type-rank li.rank01 .rank{display:flex; align-items: center;}
.my-ranking-card.card-g03.new-card-2023 .my-ranking-list.type-rank li.rank01 .rank > span{font-size:21px; font-weight:bold; margin-right:2px;}
.my-ranking-card.card-g03.new-card-2023 .my-ranking-list.type-rank li.rank01 .card-img{margin-right:0;}
.my-ranking-card.card-g03.new-card-2023 .my-ranking-list.type-rank li.rank01 .card-img img{width:102px; height:65px;}
.new-card-2023 .my-ranking-card-banner .txt-area .main-txt{font-size:15px;}
.new-card-2023 .my-ranking-card-banner .txt-area .sub-txt{font-size:13px; color:#888;}
.new-card-2023 .my-ranking-card-banner.card-e06 .txt-area:after{margin-top:-25px; width:72px; height:50px; background-image: url(../../images/md/img_best_card.png);}
.my-ranking-info-pop.pop-s01.Card-point .my-ranking-pop-area .cont{background-image: url(../../images/md/ic-cardPoint.png);}