/**
***************************************************
* icons
****************************************************
*/
/**
  * @name: 금액 관련 바로가기 iCon
  * @tag : <i class="my-ic-arrow-s"></i>
  * @url : http://localhost:3000/html_guide_md/CON-1/CON_002_0002.html
*/
.my-ic-arrow-s { background-image: url("/images/md/my-2-ic-arrow_s.png"); background-size: 100% 100%; display: inline-block; width: 5px; height: 9px; }


/**
  * @name: 금액 관련 바로가기 iCon 2
  * @tag : <i class="my-ic-arrow-m"></i>
  * @url : http://localhost:3000/html_guide_md/AST/AST_002_0001.html
*/
.my-ic-arrow-m { background-image: url("/images/md/my-2-ic-arrow_m.png"); background-size: 100% 100%; display: inline-block; width: 7px; height: 11px; }


/**
  * @name: MULTI Any 모바일카드 iCon
  * @tag : <i class="my-ic-arrow-r"></i>
  * @url : http://localhost:3000/html_guide_md/CON-1/CON_002_0002.html
*/
.my-ic-arrow-r { background-image: url("/images/md/my-2-ic-arrow_r.png"); background-size: 100% 100%; display: inline-block; width: 5px; height: 8px; }


/**
  * @name: 최근 6개월 사용금액 iCon
  * @tag : <i class="my-ic-arr-select"></i>
  * @url : http://localhost:3000/html_guide_md/AST/AST_003_0001.html
*/
.my-ic-arr-select { position: absolute; right: 0; top: 0; bottom: 0; margin: auto 0; width: 22px; height: 22px; display: flex; justify-content: flex-end; align-items: center; }
.my-ic-arr-select::before { content: ''; background-size: 100% 100%; display: block; }


/**
  * @name: 달력 iCon
  * @tag : <i class="my-ic-cal"></i>
  * @url : http://localhost:3000/html_guide_md/AST/AST_003_0005.html
*/
.my-ic-cal { background-image: url("/images/md/my-2-ic-cal.png"); background-size: 100% 100%; display: block; width: 17px; height: 17px; position: absolute; right: 0; top: 0; bottom: 0; margin: auto 0; }


/**
  * @name: 상승/하락 iCon
  * @tag : <i class="my-ic-arrow-up"><em class="blind">상승</em></i>
  * @tag : <i class="my-ic-arrow-down"><em class="blind">하락</em></i>
  * @url : http://localhost:3000/html_guide_md/AST/AST_001_0001.html
*/
.my-ic-arrow-up, .my-ic-arrow-down { display: inline-block; width: 0px; height: 0px; border-right: 5px solid transparent; border-left: 5px solid transparent; }
.my-ic-arrow-up { border-bottom: 7px solid #F14A76; }
.my-ic-arrow-down { border-top: 7px solid #4896F0; margin-top: 1px; }


/**
  * @name: 설정 관련 iCon
  * @tag : <i class="my-ic-set-1"></i> ~ <i class="my-ic-set-4"></i>
  * @url : http://localhost:3000/html_guide_md/AST/AST_001_0001.html
*/
[class^="my-ic-set-"] { background-size: 100% 100%; display: inline-block; width: 16px; height: 16px; margin-right: 10px; }
.my-ic-set-1 { background-image: url("/images/md/my-ic-set-1.png"); }
.my-ic-set-2 { background-image: url("/images/md/my-ic-set-2.png"); }
.my-ic-set-3 { background-image: url("/images/md/my-ic-set-3.png"); }
.my-ic-set-4 { background-image: url("/images/md/my-ic-set-4.png"); }
.my-ic-set-5 { background-image: url("/images/md/my-ic-set-5.png"); width: 12px; }


/**
  * @name: 기관별 iCon
  * @tag : <i class="my-ic-assets-1"></i> ~ <i class="my-ic-assets-14"></i>
  * @url : http://localhost:3000/html_guide_md/AST/AST_001_0001.html
*/
[class^="my-ic-assets-"] { background-size: 100% 100%; display: inline-block; width: 30px; height: 30px; }
.my-ic-assets-1 { background-image: url("/images/md/code/@null-card.png"); }
.my-ic-assets-3 { background-image: url("/images/md/code/@null-invest.png"); }
.my-ic-assets-8 { background-image: url("/images/md/code/@null-insu.png"); }
.my-ic-assets-11 { background-image: url("/images/md/code/@null-efin.png"); }
.my-ic-assets-12 { background-image: url("/images/md/code/@null-bank.png"); }
.my-ic-assets-13 { background-image: url("/images/md/code/@null-capital.png"); }
.my-ic-assets-14 { background-image: url("/images/md/code/@null-etc.png"); }
.my-ic-assets-20 { background-image: url("/images/md/code/@null-bank.png"); }


/**
  * @name: 툴팁 iCon
  * @tag : <i class="my-ic-tooltip"></i>
  * @tag : <i class="my-ic-tooltip exclam-yellow"></i>
  * @tag : <i class="my-ic-tooltip exclam-red"></i>
  * @tag : <i class="my-ic-tooltip exclam-green"></i>
  * @url : http://localhost:3000/html_guide_md/CON-1/CON_003_0003.html
  * @url : http://localhost:3000/html_guide_md/MYM/MYM_004_0001.html
*/
.my-ic-tooltip { background-image: url("/images/md/my-2-ic-Tooltip.png"); background-size: 100% 100%; display: inline-block; width: 18px; height: 18px; }
.my-ic-tooltip.trans { width: 16px; height: 16px; background-image: url("/images/md/my-2-ic-Tooltip_3.png"); }
.my-ic-tooltip.white { width: 16px; height: 16px; background-image: url("/images/md/my-2-ic-Tooltip_white.png"); }
.my-ic-tooltip.exclam { width: 16px; height: 16px; background-image: url("/images/md/my-2-ic-Tooltip_2.png"); }
.my-ic-tooltip.exclam-yellow { background-image: url("/images/md/my-exclam-y.png"); }
.my-ic-tooltip.exclam-red { background-image: url("/images/md/my-exclam-r.png"); }
.my-ic-tooltip.exclam-green { background-image: url("/images/md/my-exclam-g.png"); }


/**
  * @name: 조회 iCon
  * @tag : <i class="my-ic-arr-filter"><span class="blind">조회</span></i>
  * @url : http://localhost:3000/html_guide_md/MYM/MYM_005_0009.html
*/
.my-ic-arr-filter { display: inline-block; margin-left: 8px; width: 10px; height: 6px; background-image: url("/images/md/my-2-ic-arr_filter.png"); background-repeat: no-repeat; background-size: auto 100%; vertical-align: 1px; }


/**
  * @name: 가입 전 꼭 알아두세요
  * @tag : <i class="my-ic-arrow-teal"></i>
  * @url : http://localhost:3000/html_guide_md/CON-1/CON_002_0002.html
*/
.my-ic-arrow-teal { background-image: url("/images/md/my-2-ic-arrow_t_teal.png"); background-size: 100% 100%; display: inline-block; width: 6px; height: 10px; }