/**
***************************************************
* layout
****************************************************
*/
/**
  * @name: 상단 header 부분
  * @tag : <nav class="my-nav-case-local" data-attr="local">
  * @url : 전체 페이지 반영
*/
.my-nav-case-local { display: flex; align-items: center; justify-content: center; height: 50px; position: relative; position: -webkit-sticky; position: sticky; top: 0; background-color: #fff; z-index: 50; }
.my-nav-case-local.scrolled { box-shadow: 0 3px 5px 0 rgba(102, 102, 102, 0.15); }
.my-nav-case-local h1 { font-size: 18px; line-height: 18px; width: 100%; padding: 0 56px; text-align: center; }
.my-nav-case-local h1 * { font-size: 18px; line-height: 18px; }
.my-nav-case-local .my-btn-prev { position: absolute; top: 0; bottom: 0; left: 20px; height: 26px; width: 26px; margin: auto 0; }
.my-nav-case-local .my-btn-prev::before { content: ''; background-image: url("/images/md/my-2-ic-Previous.png"); background-size: 100% 100%; display: block; width: 10px; height: 19px; }
.my-nav-case-local .my-btn-close { position: absolute; top: 0; bottom: 0; right: 20px; height: 26px; width: 26px; margin: auto 0; display: flex; justify-content: flex-end; align-items: center; }
.my-nav-case-local .my-btn-close::before { content: ''; background-image: url("/images/md/my-2-ic-close.png"); background-size: 100% 100%; display: block; width: 20px; height: 20px; }
.my-nav-case-local .my-btn-add { position: absolute; top: 0; bottom: 0; right: 20px; height: 26px; width: 26px; margin: auto 0; display: flex; justify-content: flex-end; align-items: center; }
.my-nav-case-local .my-btn-add::before { content: ''; background-image: url("/images/md/my-2-ic-Add.png"); background-size: 100% 100%; display: block; width: 26px; height: 26px; }
.my-nav-case-local .my-menu { position: absolute; right: 20px; top: 0; bottom: 0; height: 26px; margin: auto 0; }
.my-nav-case-local .my-btn-cancel { position: absolute; top: 0; bottom: 0; left: 20px; width: 26px; height: 26px; margin: auto 0; }
.my-nav-case-local .my-btn-cancel span { font-size: 12px; line-height: 12px; color: #666; }
.my-nav-case-local .my-btn-cancel span * { font-size: 12px; line-height: 12px; }
.my-nav-case-local.type-transparent { background-color: transparent; }


/**
  * @name: 레이어팝업 관련 overlay 처리
  * @tag : <div class="overlay"></div>
  * @url : 전체 페이지 반영
*/
.overlay { align-items: center; border-radius: inherit; display: flex; justify-content: center; position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 0; pointer-events: none; transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), z-index 1ms; height: 100%; z-index: 500; }
.overlay.active { opacity: 0.46; pointer-events: auto; background-color: #111; z-index: 509; }
body.overflow-hidden { overflow: hidden; }
.my-container { padding: 0 0 60px; }
.my-container.padding-none { padding: 0 !important; }
.my-container .container-scroll-area { background-color: #fff; }
.my-container.form-area { padding-bottom: 0 !important; }
.my-container.form-area .my-btn-area-fix { position: relative; }
.my-container.hasFixedBtn { padding-bottom: 80px; }
.my-container.hasFixedBtn .my-2-data-list-area + .my-btn-area-col { margin-bottom: 40px; }


/**
  * @name: 로딩 중
  * @tag : <section class="my-full-container">
  * @url : http://localhost:3000/html_guide_md/SVC/SVC_002_0007.html
*/
.my-full-container { height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center; flex-wrap: wrap; }
.my-full-container.has-btn { padding-bottom: 60px; }
.my-full-container.default-delay { position: fixed; left: 0; right: 0; top: 0; bottom: 0; z-index: 100; }
.my-full-container.default-delay::before { content: ''; position: absolute; left: 0; right: 0; top: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.4); }
.my-nav-case-local + .my-full-container { height: calc(100vh - 50px); }