/**
***************************************************
* main
****************************************************
*/
/**
  * @name: 메인 상단 개인화메시지 영역
  * @tag : <div class="my-main-top-area "></ㅇ>
  * @url : MAN_001_0001
*/
.my-main-top-area { display: flex; flex-direction: row; align-items: center; padding: 0 20px; position: relative;}
.my-main-top-area img { display: inline-block; margin-right: 6px; width: 47px; height: 44px; }
.my-main-top-area p { font-size: 15px; line-height: 20px; }
.my-main-top-area p * { font-size: 15px; line-height: 20px; }



/**
  * @name: 메인 컨텐츠 박스
  * @tag : <div class="my-main-box-area"></div>
  * @url : MAN_001_0001
*/
.my-main-container { padding-top: 66px; }
.my-main-container.type-1::before { background-image: url("/images/md/my-main-bg-1.png"); }
.my-main-container.type-2::before { background-image: url("/images/md/my-main-bg-2.png"); }
.my-main-container.type-3::before { background-image: url("/images/md/my-main-bg-3.png"); }
.my-main-container.type-4::before { background-image: url("/images/md/my-main-bg-4.png"); }
.my-main-container::before { content: ''; display: block; position: fixed; left: 0; right: 0; top: 0; bottom: 0; z-index: -1; background-color: #ebebeb; background-repeat: no-repeat; background-position: 50% 0%; background-size: 100% auto; }
.my-main-container .my-main-header { display: flex; align-items: center; position: fixed; top: 0; left: 0; right: 0; z-index: 50; height: 50px; padding: 0 20px; transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
.my-main-container .my-main-header.scrolled { background-color: #fff; box-shadow: 0 3px 5px 0 rgba(102, 102, 102, 0.15); }
.my-main-container .my-main-header img { width: auto; height: 24px; }
.my-main-container .my-main-header .beta-badge { display: inline-block; width: 59px; height: 13px; margin: 5px 0 0 5px; background-image: url("/images/md/my-badge-beta-main.png"); background-size: 100% 100%; vertical-align: top; }
.my-main-box-area { display: flex; flex-wrap: wrap; position: relative; padding: 37px 15px 0; }
.my-main-box-area + .my-main-box-area { padding-top: 32px; }
.my-main-box-area + .btn-link-banner { margin-top: 5px; box-shadow: 3px 3px 10px rgba(2, 4, 4, 0.15); }
.my-main-box-area [class*="col-"] { overflow: hidden; position: relative; display: block; border-radius: 15px; margin: 5px; background-color: white; box-shadow: 3px 3px 10px rgba(2, 4, 4, 0.15); isolation: isolate; }
.my-main-box-area .col-1 { width: calc(100vw - 40px); }
.my-main-box-area .col-2 { width: calc((100vw - 50px)/2); height: calc((100vw - 50px)/2); }
.my-main-box-area .col-3-1 { width: 100px; height: 100px; }
.my-main-box-area .col-3-2 { flex-grow: 1; width: calc((100vw - 150px)); min-height: 100px; }
.my-main-box-area .my-btn-type.refresh { position: absolute; right: 20px; top: 41px; padding: 0 16px 0 0; }
.my-main-box-area .my-btn-type.refresh .ic-refresh { left: auto; right: 0; }
.my-main-box-area h1 { width: 100%; margin-bottom: 7px; padding-left: 5px; font-size: 15px; line-height: 20px; }
.my-main-box-area h1 * { font-size: 15px; line-height: 20px; }
.my-main-box-area h1 span { font-weight: 700; }
.my-main-box-area h1.at { font-size: 18px; line-height: 20px; font-weight: 700; }
.my-main-box-area h1.at * { font-size: 18px; line-height: 20px; }
.my-main-box-area h2 { font-size: 15px; line-height: 15px; }
.my-main-box-area h2 * { font-size: 15px; line-height: 15px; }
.my-main-box-area .my-btn-txt { position: absolute; right: 20px; top: 37px; font-size: 13px; line-height: 13px; color: #009688; border-color: #009688; }
.my-main-box-area .my-btn-txt * { font-size: 13px; line-height: 13px; }
.my-main-box-area img { width: 100%; }
.my-main-box-area .my-num { display: block; font-size: 13px; line-height: 13px; font-weight: 700; text-align: center; }
.my-main-box-area .my-num * { font-size: 13px; line-height: 13px; }
.my-main-box-area .noti { display: block; padding: 9px 0 8px; border-radius: 11px; background-color: #f3f8f8; font-size: 11px; line-height: 11px; color: #009688; text-align: center; }
.my-main-box-area .noti * { font-size: 11px; line-height: 11px; }
.my-main-box-area .noti::before { content: ''; display: inline-block; width: 10px; height: 10px; margin-right: 4px; background: url("/images/md/my-main-noti.png") no-repeat 50%; background-size: auto 10px; vertical-align: -1px; }
@media screen and (min-width: 540px) { 
  .my-main-container { font-size: calc((100vw - 60px)/3); }  
  .my-main-box-area { font-size: inherit; }  
  .my-main-box-area .col-3-1 { width: calc((100vw - 60px)/3); height: calc((100vw - 60px)/3); }  
  .my-main-box-area .col-3-2 { width: calc((100vw - 60px) * 0.666); } 
}



/**
  * @name: 메인 텍스트 링크
  * @tag : <a class="my-main-txt-link"></a>
  * @url : MAN_001_0001
*/
.my-main-txt-link { padding: 16px 18px; }
.my-main-txt-link.type-1 { background: #01a6a0; background: linear-gradient(135deg, #01a6a0 0%, #1088ab 100%); }
.my-main-txt-link.type-2 { background: #8665ef; background: linear-gradient(135deg, #8665ef 0%, #5061e1 100%); }
.my-main-txt-link.type-3 { background: #7652e8; background: linear-gradient(135deg, #7652e8 0%, #8c42f1 100%); }
.my-main-txt-link.type-3 em { font-size: 15px; line-height: 20px; word-break: keep-all; }
.my-main-txt-link.type-3 em:first-child { margin-bottom: 4px; }
.my-main-txt-link.type-3 em * { font-size: 15px; line-height: 20px; }
.my-main-txt-link em { display: block; font-size: 13px; line-height: 17px; color: #fff; }
.my-main-txt-link em * { font-size: 13px; line-height: 17px; }
.my-main-txt-link em b { font-weight: 700; color: inherit; }
.my-main-txt-link em span { color: inherit; }
.my-main-txt-link > span { display: inline-block; font-size: 12px; line-height: 16px; color: #fff47e; }
.my-main-txt-link > span * { font-size: 12px; line-height: 16px; }
.my-main-txt-link > span span { color: inherit; }
.my-main-txt-link > span.tag { margin-right: 5px; }
.my-main-txt-link > span.tag:last-child { margin-right: 0; }
.my-main-txt-link > span:first-child, .my-main-txt-link em:first-child { margin-bottom: 3px; }
@media screen and (max-width: 320px) { 
  .my-main-txt-link.type-3 { padding: 16px 16px 16px 17px; } 
}



/**
  * @name: 메인 미등록 컨텐츠
  * @tag : <a class="my-main-disconnect"></a>
  * @url : MAN_001_0001
*/
.my-main-disconnect { display: flex !important;  flex-direction: column; align-items: center; justify-content: center; }
.my-main-disconnect::before { content: ''; display: block; width: 24px; height: 24px; margin-bottom: 8px; background-image: url("/images/md/my-ic-add-grey.png"); background-size: 100%; }
.my-main-disconnect span { display: block; font-size: 13px; line-height: 17px; text-align: center; color: #666; }
.my-main-disconnect span * { font-size: 13px; line-height: 17px; }
.my-main-disconnect span em { font-weight: 700; color: #666; }
.my-main-disconnect.type-2 { padding: 6px; }
.my-main-disconnect.type-2::before { display: none; }
.my-main-disconnect.type-2 a { display: block; width: 100%; }
.my-main-disconnect.type-2 a:first-child { display: flex !important;  flex-direction: column; align-items: center; justify-content: center; height: 100%; }
.my-main-disconnect.type-2 a:first-child::before { content: ''; display: block; width: 24px; height: 24px; margin-bottom: 10px; background-image: url("/images/md/my-ic-add-grey.png"); background-size: 100%; }
.my-main-disconnect.type-check::before { background-image: url("/images/md/my-2-ic-check-line.png"); }



/**
  * @name: 메인 달력
  * @tag : <div class="my-main-calendar"></div>
  * @url : MAN_001_0001
*/
.my-main-calendar .month { display: inline-block; margin: 8px 0 0 7px; padding: 10px 10px 6px; font-size: 15px; line-height: 15px; font-weight: 700; }
.my-main-calendar .month * { font-size: 15px; line-height: 15px; }
.my-main-calendar .my-btn-txt { top: 18px; }
.my-main-calendar ul { margin: 4px 5px 0; display: flex; }
.my-main-calendar ul li { width: calc(100% / 7); padding: 0 1px; }
.my-main-calendar ul li button { width: 100%; }
.my-main-calendar ul li button.today .day em { border-radius: 6px; background-color: #009688; font-weight: 700; color: #fff; }
.my-main-calendar ul li button.today.disabled .day em { color: #fff; }
.my-main-calendar ul li button.event .day { background-color: rgba(0, 150, 136, 0.15); }
.my-main-calendar ul li button.disabled { background-color: transparent !important; }
.my-main-calendar ul li button.disabled .day em { color: #d4d4d4; }
.my-main-calendar ul li .day { display: inline-block; padding-top: 8px; width: 26px; border-radius: 6px; font-size: 12px; line-height: 12px; color: #666; transition: background-color 0.3s ease; }
.my-main-calendar ul li .day * { font-size: 12px; line-height: 12px; }
.my-main-calendar ul li .day em { display: block; margin-top: 6px; padding: 4px 0 5px; font-size: 15px; line-height: 15px; letter-spacing: 0; }
.my-main-calendar ul li .day em * { font-size: 15px; line-height: 15px; }
.my-main-calendar ul li .assets-list { margin-top: 7px; }
.my-main-calendar ul li .assets-list span { display: block; font-size: 10px; line-height: 10px; letter-spacing: -0.35px; }
.my-main-calendar ul li .assets-list span * { font-size: 10px; line-height: 10px; }
.my-main-calendar ul li .assets-list span + span { margin-top: 2px; }
.my-main-calendar .weekly-event { display: block; margin-top: 18px; padding: 13px 17px 18px; background-color: #667379; }
.my-main-calendar .weekly-event span { display: block; margin-top: 5px; font-size: 13px; line-height: 17px; color: #fff; }
.my-main-calendar .weekly-event span * { font-size: 13px; line-height: 17px; }
.my-main-calendar .weekly-event span em { font-weight: 700; color: #fff; }
@media screen and (max-width: 320px) { 
  .my-main-calendar ul { margin: 4px 3px 0; }  
  .my-main-calendar ul li 
  .assets-list span { letter-spacing: -0.5px; } 
}



/**
  * @name: 메인 현금흐름
  * @tag : <a class="my-main-cash-flow"></a>
  * @url : MAN_001_0001
*/
.my-main-cash-flow { padding: 18px 17px 0; }
.my-main-cash-flow.active.plus .income { height: 57px; }
.my-main-cash-flow.active.plus .expense { height: 26px; }
.my-main-cash-flow.active.minus .income { height: 26px; }
.my-main-cash-flow.active.minus .expense { height: 57px; }
.my-main-cash-flow.active.same .income, .my-main-cash-flow.active.same .expense { height: 57px; }
.my-main-cash-flow.active.nodetail .income, .my-main-cash-flow.active.nodetail .expense { height: 70px; background: none; border-bottom: none; border-radius: 13px 13px 0 0; background: url("/images/md/my-main-income-2.png"); background-size: 26px auto; transition: none; }
.my-main-cash-flow.active.nodetail .income::after, .my-main-cash-flow.active.nodetail .expense::after { display: none; }
.my-main-cash-flow.active.nodetail .expense { background: url("/images/md/my-main-expense-2.png"); background-size: 26px auto; }
.my-main-cash-flow span:first-child { display: block; font-size: 12px; line-height: 12px; font-weight: 700; color: #666; }
.my-main-cash-flow span:first-child * { font-size: 12px; line-height: 12px; }
.my-main-cash-flow em { display: block; margin-top: 7px; font-size: 14px; line-height: 18px; }
.my-main-cash-flow em * { font-size: 14px; line-height: 18px; }
.my-main-cash-flow em b { font-weight: 700; }
.my-main-cash-flow em span { display: inline-block; position: relative; z-index: 1; font-weight: 700; color: inherit; }
.my-main-cash-flow em span::before { content: ''; display: block; position: absolute; left: 0; bottom: 0; z-index: -1; width: 100%; height: 8px; background-color: rgba(132, 215, 211, 0.4); }
.my-main-cash-flow .cash-flow-bar { position: absolute; right: 17px; bottom: 0; width: 56px; }
.my-main-cash-flow .cash-flow-bar span { display: inline-block; width: 26px; height: 57px; vertical-align: bottom; transition: all 0.3s cubic-bezier(0.17, 0.67, 0.52, 0.91); }
.my-main-cash-flow .cash-flow-bar span::after { content: ''; display: block; width: 26px; height: 26px; margin-top: -13px; border-radius: 100%; background-repeat: no-repeat; background-size: 10px; background-position: 50%; }
.my-main-cash-flow .cash-flow-bar span.income { background: #01a6a0; background: linear-gradient(180deg, #01a6a0 0%, rgba(1, 166, 160, 0.5) 100%); }
.my-main-cash-flow .cash-flow-bar span.income::after { background-color: #01a6a0; background-image: url("/images/md/my-main-income.png"); }
.my-main-cash-flow .cash-flow-bar span.expense { background: #8665ef; background: linear-gradient(180deg, #8665ef 0%, rgba(134, 101, 239, 0.5) 100%); margin-left: 4px; }
.my-main-cash-flow .cash-flow-bar span.expense::after { background-color: #8665EF; background-image: url("/images/md/my-main-expense.png"); }
@media screen and (max-width: 320px) { 
  .my-main-cash-flow .cash-flow-bar { right: 9px; } 
}



/**
  * @name: 메인 순자산
  * @tag : <div class="my-main-total-equity"></div>
  * @url : MAN_001_0001
*/
.my-main-total-equity .total-equity-rate { display: block; padding: 18px; }
.my-main-total-equity .total-equity-rate h2 { position: relative; display: flex; }
.my-main-total-equity .total-equity-rate h2::after { content: ''; display: inline-block; position: absolute; left: 48px; top: 1px; z-index: 1; width: 7px; height: 12px; background: url("/images/md/my-2-ic-arrow_gs.png") no-repeat center; background-size: 7px auto; }
.my-main-total-equity .total-equity-rate h2 .my-won { margin-left: auto; font-size: 15px; line-height: 15px; }
.my-main-total-equity .total-equity-rate h2 .my-won * { font-size: 15px; line-height: 15px; }
.my-main-total-equity .total-equity-rate ul { margin-top: 18px; }
.my-main-total-equity .total-equity-rate ul li { display: flex; align-items: center; }
.my-main-total-equity .total-equity-rate ul li + li { margin-top: 10px; }
.my-main-total-equity .total-equity-rate ul li + li em { color: #888; }
.my-main-total-equity .total-equity-rate ul li + li .bar { background: #a6b6b6; }
.my-main-total-equity .total-equity-rate ul li em { width: 30px; font-size: 13px; line-height: 13px; font-weight: 700; color: #01a6a0; }
.my-main-total-equity .total-equity-rate ul li em * { font-size: 13px; line-height: 13px; }
.my-main-total-equity .total-equity-rate ul li .bar { max-width: calc(100% - 150px); width: 0; height: 8px; border-radius: 4px; background: #2c9f99 url("/images/md/lineArea-1.png") repeat 0 0; background-size: 4px auto; }
.my-main-total-equity .total-equity-rate ul li .my-won { width: 120px; margin-left: auto; font-size: 13px; line-height: 13px; }
.my-main-total-equity .total-equity-rate ul li .my-won * { font-size: 13px; line-height: 13px; }
.my-main-total-equity .investment-status { display: flex; justify-content: space-between; position: relative; width: 100%; padding: 16px 18px; transition: background-color 0.3s ease; }
.my-main-total-equity .investment-status.increase { background-color: #fff5f5; }
.my-main-total-equity .investment-status.decrease { background-color: #f1f8ff; }
.my-main-total-equity .investment-status.same { background-color: #f8f8f8; }
.my-main-total-equity .investment-status::after { content: ''; display: block; width: 7px; height: 11px; margin: 3px 0 0 10px; background-image: url("/images/md/my-2-ic-arrow_m.png"); background-size: 7px auto; }
.my-main-total-equity .investment-status em { font-size: 14px; line-height: 18px; color: #666; }
.my-main-total-equity .investment-status em * { font-size: 14px; line-height: 18px; }
.my-main-total-equity .investment-status > span { margin-left: auto; padding-top: 2px; }
.my-main-total-equity .investment-status > span .my-won { font-size: 14px; line-height: 14px; }
.my-main-total-equity .investment-status > span .my-won * { font-size: 14px; line-height: 14px; }
.my-main-total-equity .investment-status > span .my-won:last-child { margin-top: 9px; font-size: 12px; line-height: 12px; word-break: keep-all; }
.my-main-total-equity .investment-status > span .my-won:last-child * { font-size: 12px; line-height: 12px; }
.my-main-total-equity .investment-status > span .my-won:last-child em { margin-left: 5px; }
.my-main-total-equity .investment-status > span .my-ic-arrow-up, .my-main-total-equity .investment-status > span .my-ic-arrow-down { border-right-width: 4.5px; border-left-width: 4.5px; }
.my-main-total-equity .investment-status > span .my-ic-arrow-up { border-bottom-width: 8px; }
.my-main-total-equity .investment-status > span .my-ic-arrow-down { margin: 0; border-top-width: 8px; }
@media screen and (max-width: 320px) { 
  .my-main-total-equity .investment-status > span .my-won:last-child { max-width: 142px; font-size: 12px; line-height: 14px; }  
  .my-main-total-equity .investment-status > span .my-won:last-child * { font-size: 12px; line-height: 14px; } 
}



/**
  * @name: 메인 신용점수
  * @tag : <a class="my-main-credit-score"></a>
  * @url : MAN_001_0001
*/
.my-main-credit-score { display: flex !important;  flex-direction: column; padding: 18px; }
.my-main-credit-score.active .my-data-chart-donut-half .donut::after { opacity: 1; animation: fillDonut 0.5s ease-in; }
.my-main-credit-score .my-data-chart-donut-half { overflow: hidden; width: 100%; height: calc(100% / 2); margin-top: 10px; border-radius: 0; }
.my-main-credit-score .my-data-chart-donut-half .donut { width: 100%; height: 200%; }
.my-main-credit-score .my-data-chart-donut-half .donut::after { width: 100%; height: 100%; border-width: 20px;animation: none; opacity: 0; }
.my-main-credit-score .my-data-chart-donut-half .my-credit-score-info strong { font-size: 15px; line-height: 15px; }
.my-main-credit-score .my-data-chart-donut-half .my-credit-score-info strong * { font-size: 15px; line-height: 15px; }
.my-main-credit-score .noti { margin: auto -12px -12px; }
.my-main-credit-score.paid .counter { font-weight: inherit; color: inherit; }
.my-main-credit-score.paid .noti { background-color: #f3f8f8; color: #009688; }
.my-main-credit-score.paid .noti::before { background-image: url("/images/md/my-main-rank.png"); }
.my-main-credit-score.paid .noti strong { font-weight: 700; color: #009688; }
@media screen and (max-width: 320px) { 
  .my-main-credit-score .my-data-chart-donut-half .donut::after { border-width: 16px; }  
  .my-main-credit-score .my-data-chart-donut-half .my-credit-score-info strong { font-size: 14px; line-height: 14px; }  
  .my-main-credit-score .my-data-chart-donut-half .my-credit-score-info strong * { font-size: 14px; line-height: 14px; } 
}



/**
  * @name: 메인 내 차 시세
  * @tag : <div class="my-main-car"></div>
  * @url : MAN_001_0001
*/
.my-main-car { display: flex !important;  flex-direction: column; }
.my-main-car h2 a { display: block; margin-bottom: 2.581%; padding: 18px 18px 0; }
.my-main-car h2 a span { display: inline-block; margin-left: 8px; padding: 0 6px; border-radius: 8px; background-color: #e9f2f2; font-size: 11px; line-height: 16px; color: #49555e; vertical-align: 2px; }
.my-main-car h2 a span * { font-size: 11px; line-height: 16px; }
.my-main-car .swiper-area { position: relative; flex: 1; }
.my-main-car .swiper-area.deactivated [class^="swiper-button-"] { display: none; }
.my-main-car .swiper-area .swiper-container { height: 100%; }
.my-main-car .swiper-area .swiper-slide a { display: flex;  flex-direction: column; height: 100%; padding-bottom: 18px; text-align: center; }
.my-main-car .swiper-area .swiper-slide a img { width: 64.517%; margin: 0 auto; }
.my-main-car .swiper-area .swiper-slide a .car-info { margin-top: auto; }
.my-main-car .swiper-area .swiper-slide a .car-info span { display: block; padding-bottom: 5px; font-size: 11px; line-height: 11px; color: #888; }
.my-main-car .swiper-area .swiper-slide a .car-info span * { font-size: 11px; line-height: 11px; }
.my-main-car .swiper-area .swiper-slide a .car-info strong { display: block; }
.my-main-car .swiper-area [class^="swiper-button-"] { top: 0; bottom: 0; width: 24px; height: 100%; margin-top: 0; }
.my-main-car .swiper-area [class^="swiper-button-"]::before { width: 6px; height: 10px; margin-top: calc(((100vw - 50px)/2) * 0.23226); background-image: url("/images/md/my-2-ic-arrow_t_grey.png"); opacity: 1; }
.my-main-car .swiper-area .swiper-button-next { right: 0; margin-left: 2px; }
.my-main-car .swiper-area .swiper-button-prev { left: 0; margin-right: 2px; }
@media screen and (max-width: 320px) { 
  .my-main-car .swiper-area .swiper-slide a img { width: 70px; } 
}



/**
  * @name: 메인 부동산
  * @tag : <a class="my-main-estate"></a>
  * @url : MAN_001_0001
*/
.my-main-estate { display: flex !important;  flex-direction: column; padding: 18px; }
.my-main-estate img { width: 84.034%; margin: 12px auto 0; }
.my-main-estate .my-num { margin-top: auto; }
@media screen and (max-width: 320px) { 
  .my-main-estate img { width: 90px; margin-top: 6px; } 
}



/**
  * @name: 메인 가맹점 영역
  * @tag : <a class="my-main-link-with-img"></a>
  * @url : MAN_001_0001
*/
.my-main-link-with-img { padding: 18px; background-repeat: no-repeat; background-size: 54.839% auto; background-position: right bottom; }
.my-main-link-with-img.type-1 { background-color: #f6f4fd; background-image: url("/images/md/my-main-member-1.png"); }
.my-main-link-with-img.type-2 { background-color: #fceff2; background-image: url("/images/md/my-main-member-2.png"); }
.my-main-link-with-img span { display: block; padding-bottom: 7px; font-size: 11px; line-height: 11px; color: #6a4bcb; }
.my-main-link-with-img span * { font-size: 11px; line-height: 11px; }
.my-main-link-with-img em { display: block; font-size: 15px; line-height: 20px; word-break: keep-all; }
.my-main-link-with-img em * { font-size: 15px; line-height: 20px; }
.my-main-link-with-img em b { font-weight: 700; }
@media screen and (max-width: 320px) { 
  .my-main-link-with-img em { padding-right: 28px; } 
}



/**
  * @name: 메인 하단 핫플레이스 배너
  * @tag : <a class="my-main-bottom-banner"></a>
  * @url : MAN_001_0001
*/
.my-main-bottom-banner { display: block; position: relative; height: 130px; margin-top: 40px; padding: 30px 20px 40px; background-color: #fff; }
.my-main-bottom-banner::after { content: ''; display: block; position: absolute; right: 20px; top: 30px; width: 100px; height: 80px; background-image: url("/images/md/my-main-hotplace.png"); background-size: 100%; }
.my-main-bottom-banner span { display: block; padding-bottom: 6px; font-size: 12px; line-height: 12px; color: #F14A76; }
.my-main-bottom-banner span * { font-size: 12px; line-height: 12px; }
.my-main-bottom-banner em { display: block; font-size: 18px; line-height: 22px; }
.my-main-bottom-banner em * { font-size: 18px; line-height: 22px; }
.my-main-bottom-banner em b { font-weight: 700; }



/**
  * @name: 메인 배너 스와이프
  * @tag : <div class="my-main-banner"></div>
  * @url : MAN_001_0001
*/
.my-main-banner { position: relative; display: block; margin: 0 -5px 10px; border-radius: 15px; background: transparent;}
.my-main-banner .swiper-area { overflow: hidden; padding: 5px 10px 20px; width: calc(100vw - 20px); }
.my-main-banner .swiper-area.deactivated { margin-bottom: -20px; }
.my-main-banner .swiper-area.deactivated .swiper-pagination { display: none; }
.my-main-banner .swiper-area .swiper-container { overflow: visible; }
.my-main-banner .swiper-area .swiper-slide { border-radius: 15px; overflow: hidden; box-shadow: 3px 3px 10px rgba(2, 4, 4, 0.15); }
.my-main-banner .swiper-area .swiper-slide a { display: block; max-height: 73px; overflow: hidden; }
.my-main-banner .swiper-area .swiper-pagination { display: block; }


/**
  * @name: 메인 로딩
  * @tag : <div class="my-main-loading"></div>
  * @url : MAN_001_0001
*/
.my-main-box-area .my-main-loading.loading { background-repeat: no-repeat; }
.my-main-box-area .my-main-loading.loading.my-main-calendar { background-image: linear-gradient(#ddd 15px, transparent 0), linear-gradient(#a3e3e0 15px, transparent 0); background-size: 20px 15px,
 34px 15px; background-position: 18px 18px, calc(100% - 20px) 18px; }
.my-main-box-area .my-main-loading.loading.my-main-calendar .month { color: transparent;  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)); background-size: 30px 100%; background-position: left -30px top 0; background-repeat: no-repeat; animation: mainLoading 1s ease infinite; }
.my-main-box-area .my-main-loading.loading.my-main-calendar .my-btn-txt { border: 0; color: transparent;  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)); background-size: 30px 100%; background-position: left -30px top 0; background-repeat: no-repeat; animation: mainLoading 1s ease infinite; }
.my-main-box-area .my-main-loading.loading.my-main-calendar ul li { position: relative; height: 77px; }
.my-main-box-area .my-main-loading.loading.my-main-calendar ul li::before, .my-main-box-area .my-main-loading.loading.my-main-calendar ul li::after { content: ''; display: block; position: absolute; left: 50%; height: 8px; background-color: #f1f1f1; transform: translateX(-50%);  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)); background-size: 30px 100%; background-position: left -30px top 0; background-repeat: no-repeat; animation: mainLoading 1s ease infinite; }
.my-main-box-area .my-main-loading.loading.my-main-calendar ul li::before { bottom: 12px; width: 65%; }
.my-main-box-area .my-main-loading.loading.my-main-calendar ul li::after { bottom: 0; width: 84%; }
.my-main-box-area .my-main-loading.loading.my-main-calendar ul li:nth-child(2n)::before { width: 70%; }
.my-main-box-area .my-main-loading.loading.my-main-calendar ul li:nth-child(2n)::after { width: 61%; }
.my-main-box-area .my-main-loading.loading.my-main-calendar ul li button .day { background-color: transparent; color: transparent; }
.my-main-box-area .my-main-loading.loading.my-main-calendar ul li button .day::before { content: ''; display: block; position: absolute; top: 8px; left: 50%; width: 10px; height: 8px; background-color: #f1f1f1; transform: translateX(-50%);  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)); background-size: 30px 100%; background-position: left -30px top 0; background-repeat: no-repeat; animation: mainLoading 1s ease infinite; }
.my-main-box-area .my-main-loading.loading.my-main-calendar ul li button .day em { width: 14px; height: 15px; margin: 10px auto 5px; padding: 0; border-radius: 0; background-color: #ddd;  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)); background-size: 30px 100%; background-position: left -30px top 0; background-repeat: no-repeat; animation: mainLoading 1s ease infinite; color: transparent; }
.my-main-box-area .my-main-loading.loading.my-main-calendar ul li .assets-list span { color: transparent !important; }
.my-main-box-area .my-main-loading.loading.my-main-calendar .weekly-event { padding: 18px 17px; height: 97px; }
.my-main-box-area .my-main-loading.loading.my-main-calendar .weekly-event::before, .my-main-box-area .my-main-loading.loading.my-main-calendar .weekly-event::after { content: ''; display: block; position: absolute; left: 17px; height: 12px; background-color: rgba(255, 255, 255, 0.2);  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)); background-size: 30px 100%; background-position: left -30px top 0; background-repeat: no-repeat; animation: mainLoading 1s ease infinite; }
.my-main-box-area .my-main-loading.loading.my-main-calendar .weekly-event::before { bottom: 43px; width: 50%; }
.my-main-box-area .my-main-loading.loading.my-main-calendar .weekly-event::after { bottom: 21px; width: 63%; }
.my-main-box-area .my-main-loading.loading.my-main-calendar .weekly-event span { color: transparent; }
.my-main-box-area .my-main-loading.loading.my-main-calendar .weekly-event span:first-child { width: 50%; height: 12px; margin-top: 2px; background-color: rgba(255, 255, 255, 0.2);  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)); background-size: 30px 100%; background-position: left -30px top 0; background-repeat: no-repeat; animation: mainLoading 1s ease infinite; }
.my-main-box-area .my-main-loading.loading.my-main-calendar .weekly-event span em { color: transparent; }
.my-main-box-area .my-main-loading.loading.my-main-txt-link > span span { display: inline-block; height: 10px; margin: 1px 0; background-color: rgba(255, 244, 126, 0.3); color: transparent;  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)); background-size: 30px 100%; background-position: left -30px top 0; background-repeat: no-repeat; animation: mainLoading 1s ease infinite; }
.my-main-box-area .my-main-loading.loading.my-main-txt-link > span span:last-child { margin-bottom: 0; }
.my-main-box-area .my-main-loading.loading.my-main-txt-link em b, .my-main-box-area .my-main-loading.loading.my-main-txt-link em span { display: inline-block; height: 11px; color: transparent; background-color: rgba(255, 255, 255, 0.3);  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)); background-size: 30px 100%; background-position: left -30px top 0; background-repeat: no-repeat; animation: mainLoading 1s ease infinite; }
.my-main-box-area .my-main-loading.loading.my-main-cash-flow::before { content: ''; display: inline-block; position: absolute; width: 45px; height: 12px; background-color: #f1f1f1; color: transparent; white-space: nowrap;  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)); background-size: 30px 100%; background-position: left -30px top 0; background-repeat: no-repeat; animation: mainLoading 1s ease infinite; }
.my-main-box-area .my-main-loading.loading.my-main-cash-flow > span:first-child { color: transparent; }
.my-main-box-area .my-main-loading.loading.my-main-cash-flow > span:first-child::before, .my-main-box-area .my-main-loading.loading.my-main-cash-flow > span:first-child::after { content: ''; display: block; position: absolute; width: 65px; height: 13px; background-color: #ddd;  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)); background-size: 30px 100%; background-position: left -30px top 0; background-repeat: no-repeat; animation: mainLoading 1s ease infinite; }
.my-main-box-area .my-main-loading.loading.my-main-cash-flow > span:first-child::before { top: 39px; }
.my-main-box-area .my-main-loading.loading.my-main-cash-flow > span:first-child::after { top: 57px; }
.my-main-box-area .my-main-loading.loading.my-main-cash-flow em { position: relative; color: transparent; }
.my-main-box-area .my-main-loading.loading.my-main-cash-flow em b { color: transparent; }
.my-main-box-area .my-main-loading.loading.my-main-cash-flow em span::before { display: none; }
.my-main-box-area .my-main-loading.loading.my-main-cash-flow .cash-flow-bar .income, .my-main-box-area .my-main-loading.loading.my-main-cash-flow .cash-flow-bar .expense { height: 57px; transition: none; }
.my-main-box-area .my-main-loading.loading.my-main-total-equity .total-equity-rate h2 { position: relative; color: transparent; }
.my-main-box-area .my-main-loading.loading.my-main-total-equity .total-equity-rate h2::before, .my-main-box-area .my-main-loading.loading.my-main-total-equity .total-equity-rate h2::after { content: ''; height: 13px; display: block; position: absolute; top: 1px; background-color: #f1f1f1;  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)); background-size: 30px 100%; background-position: left -30px top 0; background-repeat: no-repeat; animation: mainLoading 1s ease infinite; }
.my-main-box-area .my-main-loading.loading.my-main-total-equity .total-equity-rate h2::before { left: 0; width: 38px; }
.my-main-box-area .my-main-loading.loading.my-main-total-equity .total-equity-rate h2:after { right: 0; width: 98px; }
.my-main-box-area .my-main-loading.loading.my-main-total-equity .total-equity-rate h2 .my-won { color: transparent; }
.my-main-box-area .my-main-loading.loading.my-main-total-equity .total-equity-rate h2 .my-won strong { color: transparent; }
.my-main-box-area .my-main-loading.loading.my-main-total-equity .total-equity-rate ul li:first-child em::before { background-color: #a3e3e0; opacity: 0.5; }
.my-main-box-area .my-main-loading.loading.my-main-total-equity .total-equity-rate ul li:first-child .bar { background-image: none; background-color: #2B9F99;  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)); background-size: 30px 100%; background-position: left -30px top 0; background-repeat: no-repeat; animation: mainLoading 1s ease infinite; }
.my-main-box-area .my-main-loading.loading.my-main-total-equity .total-equity-rate ul li:first-child .my-won { width: 34.5%; background-color: #ddd; }
.my-main-box-area .my-main-loading.loading.my-main-total-equity .total-equity-rate ul li em { position: relative; color: transparent; }
.my-main-box-area .my-main-loading.loading.my-main-total-equity .total-equity-rate ul li em::before { content: ''; display: block; position: absolute; top: 1px; width: 22px; height: 12px; background-color: #f1f1f1;  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)); background-size: 30px 100%; background-position: left -30px top 0; background-repeat: no-repeat; animation: mainLoading 1s ease infinite; }
.my-main-box-area .my-main-loading.loading.my-main-total-equity .total-equity-rate ul li .bar { width: 100% !important; background-color: #a6b6b6; opacity: 0.2;  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)); background-size: 30px 100%; background-position: left -30px top 0; background-repeat: no-repeat; animation: mainLoading 1s ease infinite; }
.my-main-box-area .my-main-loading.loading.my-main-total-equity .total-equity-rate ul li .my-won { width: 27.5%; height: 12px; margin-top: 1px; background-color: #f1f1f1; color: transparent;  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)); background-size: 30px 100%; background-position: left -30px top 0; background-repeat: no-repeat; animation: mainLoading 1s ease infinite; }
.my-main-box-area .my-main-loading.loading.my-main-total-equity .total-equity-rate ul li .my-won strong { color: transparent; }
.my-main-box-area .my-main-loading.loading.my-main-total-equity .investment-status { min-height: 69px; background-color: #f8f8f8; }
.my-main-box-area .my-main-loading.loading.my-main-total-equity .investment-status > em { position: relative; color: transparent; }
.my-main-box-area .my-main-loading.loading.my-main-total-equity .investment-status > em::before, .my-main-box-area .my-main-loading.loading.my-main-total-equity .investment-status > em::after { content: ''; display: block; position: absolute; left: 0; height: 13px; background-color: #E5E5E5;  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)); background-size: 30px 100%; background-position: left -30px top 0; background-repeat: no-repeat; animation: mainLoading 1s ease infinite; }
.my-main-box-area .my-main-loading.loading.my-main-total-equity .investment-status > em::before { top: 2px; width: 70px; }
.my-main-box-area .my-main-loading.loading.my-main-total-equity .investment-status > em::after { top: 20px; width: 63px; }
.my-main-box-area .my-main-loading.loading.my-main-total-equity .investment-status > span .my-won { width: 83px; height: 13px; margin-left: auto; background-color: #E5E5E5; color: transparent !important;  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)); background-size: 30px 100%; background-position: left -30px top 0; background-repeat: no-repeat; animation: mainLoading 1s ease infinite; }
.my-main-box-area .my-main-loading.loading.my-main-total-equity .investment-status > span .my-won:last-child { width: 119px; height: 11px; background-color: #ddd; }
.my-main-box-area .my-main-loading.loading.my-main-total-equity .investment-status > span .my-won i { display: none; }
.my-main-box-area .my-main-loading.loading.my-main-total-equity .investment-status > span .my-won strong, .my-main-box-area .my-main-loading.loading.my-main-total-equity .investment-status > span .my-won em { color: transparent !important; }
.my-main-box-area .my-main-loading.loading.my-main-credit-score h2 { width: 51px; height: 13px; margin: 1px 0; background-color: #ddd; color: transparent;  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)); background-size: 30px 100%; background-position: left -30px top 0; background-repeat: no-repeat; animation: mainLoading 1s ease infinite; }
.my-main-box-area .my-main-loading.loading.my-main-credit-score .my-data-chart-donut-half .donut::after { border-color: transparent transparent #f1f1f1 #f1f1f1;animation: none; transform: rotate(132deg); }
.my-main-box-area .my-main-loading.loading.my-main-credit-score .my-data-chart-donut-half .my-credit-score-info strong { display: inline-block; width: 51px; height: 13px; background-color: #ddd; color: transparent; white-space: nowrap;  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)); background-size: 30px 100%; background-position: left -30px top 0; background-repeat: no-repeat; animation: mainLoading 1s ease infinite; }
.my-main-box-area .my-main-loading.loading.my-main-credit-score .noti { position: relative; color: transparent; height: 28px; }
.my-main-box-area .my-main-loading.loading.my-main-credit-score .noti::before { position: absolute; left: 15%; top: 10px; }
.my-main-box-area .my-main-loading.loading.my-main-credit-score .noti::after { content: ''; display: inline-block; position: absolute; left: calc(15% + 14px); top: 10px; width: 60.14%; height: 9px; background-color: #a3e3e0; opacity: 0.5;  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)); background-size: 30px 100%; background-position: left -30px top 0; background-repeat: no-repeat; animation: mainLoading 1s ease infinite; }
.my-main-box-area .my-main-loading.loading.my-main-credit-score .noti strong { color: transparent; }
.my-main-box-area .my-main-loading.loading.my-main-car::before, 
.my-main-box-area .my-main-loading.loading.my-main-car::after { content: ''; display: block; position: absolute; left: 50%; background-color: #ddd; transform: translateX(-50%);  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)); background-size: 30px 100%; background-position: left -30px top 0; background-repeat: no-repeat; animation: mainLoading 1s ease infinite; }
.my-main-box-area .my-main-loading.loading.my-main-car::before { bottom: 36px; width: 51px; height: 10px; background-color: #f1f1f1; }
.my-main-box-area .my-main-loading.loading.my-main-car::after { bottom: 19px; width: 57px; height: 12px; }
.my-main-box-area .my-main-loading.loading.my-main-car h2 { position: relative; }
.my-main-box-area .my-main-loading.loading.my-main-car h2::before, .my-main-box-area .my-main-loading.loading.my-main-car h2::after { content: ''; display: block; position: absolute; background-color: #ddd;  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)); background-size: 30px 100%; background-position: left -30px top 0; background-repeat: no-repeat; animation: mainLoading 1s ease infinite; }
.my-main-box-area .my-main-loading.loading.my-main-car h2::before { left: 18px; top: 18px; width: 51px; height: 13px; }
.my-main-box-area .my-main-loading.loading.my-main-car h2::after { left: 50%; top: 43px; width: 60px; height: 60px; border-radius: 50%; background-color: #f1f1f1; transform: translateX(-50%);  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)); background-size: 30px 100%; background-position: left -30px top 0; background-repeat: no-repeat; animation: mainLoading 1s ease infinite; }
@media screen and (max-width: 320px) { 
  .my-main-box-area .my-main-loading.loading.my-main-car h2::after { top: 38px; width: 45px; height: 45px; } 
}
.my-main-box-area .my-main-loading.loading.my-main-car h2 a { color: transparent; }
.my-main-box-area .my-main-loading.loading.my-main-car h2 a span { display: none; }
.my-main-box-area .my-main-loading.loading.my-main-car .swiper-area [class^="swiper-button-"], 
.my-main-box-area .my-main-loading.loading.my-main-car .swiper-area a { display: none; }
.my-main-box-area .my-main-loading.loading.my-main-estate::after { content: ''; display: block; position: absolute; left: 50%; top: 43px; width: 60px; height: 60px; border-radius: 50%; background-color: #f1f1f1; transform: translateX(-50%);  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)); background-size: 30px 100%; background-position: left -30px top 0; background-repeat: no-repeat; animation: mainLoading 1s ease infinite; }
@media screen and (max-width: 320px) { 
  .my-main-box-area .my-main-loading.loading.my-main-estate::after { top: 38px; width: 45px; height: 45px; } 
}
.my-main-box-area .my-main-loading.loading.my-main-estate h2 { position: relative; color: transparent; }
.my-main-box-area .my-main-loading.loading.my-main-estate h2::after { content: ''; display: block; position: absolute; left: 0; top: 0; width: 38px; height: 13px; background-color: #ddd;  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)); background-size: 30px 100%; background-position: left -30px top 0; background-repeat: no-repeat; animation: mainLoading 1s ease infinite; }
.my-main-box-area .my-main-loading.loading.my-main-estate img { display: none; }
.my-main-box-area .my-main-loading.loading.my-main-estate strong { margin: auto auto 0; width: 57px; height: 12px; background-color: #ddd; color: transparent; white-space: nowrap;  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)); background-size: 30px 100%; background-position: left -30px top 0; background-repeat: no-repeat; animation: mainLoading 1s ease infinite; }
@keyframes mainLoading { 
  to { background-position: right -30px top 0; } 
}



/**
  * @name: 메인 내지출한눈에
  * @tag : <a class="my-main-expense-link"></a>
  * @url : MAN_001_0001
*/
.my-main-expense-link { padding: 16px 17px 0; }
.my-main-expense-link::after {  content: ''; display: block; position: absolute; right: 14px; bottom: 16px; width: 70px; height: 50px;}
.my-main-expense-link.bg-img-1::after { background-image: url("/images/md/my-main-expense-link-1.png"); background-repeat: no-repeat; background-size: 100%; }
.my-main-expense-link.bg-img-2::after { background-image: url("/images/md/my-main-expense-link-2.png"); background-repeat: no-repeat; background-size: 100%; }
.my-main-expense-link.bg-img-3::after { background-image: url("/images/md/my-main-expense-link-3.png"); background-repeat: no-repeat; background-size: 100%; height: 62px;}
.my-main-expense-link.bg-img-4::after { background-image: url("/images/md/my-main-expense-link-4.png"); background-repeat: no-repeat; background-size: 100%; height: 62px;}

.my-main-expense-link > span { display: block; padding-bottom: 3px; font-size: 12px; line-height: 16px; color: #009688; word-break: keep-all; }
.my-main-expense-link > span * { font-size: 12px; line-height: 16px; }
.my-main-expense-link em { display: block; font-size: 15px; line-height: 18px; color: #111; }
.my-main-expense-link em * { font-size: 15px; line-height: 18px; }
.my-main-expense-link em span { position: relative; font-weight: 700; }
/* .my-main-expense-link em span:first-child::before { content: ''; display: block; position: absolute; left: 0; bottom: 0; z-index: -1; width: 100%; height: 8px; background-color: rgba(132, 215, 211, 0.4); } */
@media screen and (max-width: 320px) { 
  .my-main-expense-link::after { width: 33.33% !important; max-width: 70px; background-position-y: bottom; bottom: 12px;}
}