@charset "UTF-8";
.sticky-Chrome-63 .my-2-hot-place-search-area, .sticky-Chrome-63 .my-nav-case-local, .sticky-Chrome-63 .my-tab-area, .sticky-Chrome-63 .my-data-filter-area, .sticky-Chrome-63 .my-2-data-filter-search, .sticky-Chrome-63 .my-filter-area, .sticky-Chrome-63 .my-search-area, .sticky-Chrome-63 .my-2-top-total-area.fix-sticky, .sticky-Chrome-63 .my-2-data-search-area, .sticky-Chrome-63 .my-2-data-filter-area, .sticky-Chrome-63 .my-2-data-filter-area.top_fx, .sticky-Chrome-63 .my-filter-search, .sticky-Chrome-63 .my-input-area.tm-b, .sticky-Chrome-63 .my-2-calendar-area.folded, .sticky-Chrome-63 .my-estate-list-area::before, .sticky-Chrome-63 .my-estate-list-area.recomm::before, .sticky-Chrome-63 .my-2-sel-company::before, .sticky-Chrome-63 .evt-tab-area { position: relative; top: 0 !important; }

.sticky-Chrome-63 .my-drawer-area .my-input-area.tm-b { position: relative !important; }

.sticky-Chrome-63 .my-drawer-area .my-input-area.tm-b + .my-2-sel-company, .sticky-Chrome-63 .my-drawer-area .my-input-area.tm-b + .my-estate-list-area { padding-top: 0; }

.sticky-Chrome-63 .my-2-expense-container .expense-area .chart-aqua-area .chart-aqua .fish-1 { display: none; }

.sticky-Chrome-63 .my-2-calendar-area.folded + .my-2-date-noti-area { margin-top: 0; }

.sticky-Chrome-63 .my-2-calendar-area:not(.folded) .my-btn-cal .day { position: absolute; top: 16px; }

.sticky-Chrome-63 .my-2-calendar-area:not(.folded) .my-btn-cal .day + .assets-list { margin-top: 21px; }

.sticky-Chrome-63 .my-2-big-data-place-area .my-place-content-area .tag-area span { padding: 4px 8px; vertical-align: top; }

.sticky-Chrome-63 .my-2-big-data-place-area .my-place-content-area .tag-area span.det1 { padding: 5px 8px; }

.sticky-Chrome-63 .my-2-big-data-place-area .my-place-content-area .post-area em { padding-top: 2px; }

@font-face { font-family: 'Spoqa Han Sans'; font-style: normal; font-weight: 300; src: url(/font/md/SpoqaHanSansNeo-Light.woff2) format("woff2"), url(/font/md/NSpoqaHanSansNeo-Light.woff) format("woff"), url(/font/md/SpoqaHanSansNeo-Light.otf) format("opentype"); }

@font-face { font-family: 'Spoqa Han Sans'; font-style: normal; font-weight: 400; src: url(/font/md/SpoqaHanSansNeo-Regular.woff2) format("woff2"), url(/font/md/SpoqaHanSansNeo-Regular.woff) format("woff"), url(/font/md/SpoqaHanSansNeo-Regular.otf) format("opentype"); }

@font-face { font-family: 'Spoqa Han Sans'; font-style: normal; font-weight: 700; src: url(/font/md/SpoqaHanSansNeo-Bold.woff2) format("woff2"), url(/font/md/SpoqaHanSansNeo-Bold.woff) format("woff"), url(/font/md/SpoqaHanSansNeo-Bold.otf) format("opentype"); }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; vertical-align: baseline; font-family: 'Spoqa Han Sans'; font-weight: 400; font-size: 16px; line-height: 16px; letter-spacing: -0.5px; color: #111; }

*, :after, :before { -webkit-box-sizing: border-box; box-sizing: border-box; }

body { -ms-overflow-style: none; }

body::-webkit-scrollbar { display: none; }

/**
* 방향 전환 후 iOS 텍스트 크기 조정을 사용 중지하지 않고 방지
*/
html { -webkit-text-size-adjust: 100%; /* 2 */ -ms-text-size-adjust: 100%; /* 2 */ }

nav, ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

/**
* 최신 브라우저가 컨트롤없이 '오디오'를 표시하지 못하도록합니다.
*  iOS 5 기기에서 초과 높이를 제거하십시오.
*/
audio:not([controls]) { display: none; height: 0; }

/**
* Address 스타일은 IE 7/8/9, Firefox 3 및 Safari 4에는 없습니다.
*/
[hidden] { display: none; }

/**
* 초점을 맞출 때 가독성을 높이고 모든 브라우저에서 마우스를 마우스로 가리 켰습니다.
*/
a { text-decoration: none; }

g, a, input, label, div, button { -webkit-tap-highlight-color: transparent; outline: 0; }

a:active, a:hover { outline: 0; }

input:focus ~ label, :focus-visible { outline: 0; }

/**
* 표 셀 사이의 간격을 대부분 제거
*/
table { border-collapse: collapse; border-spacing: 0; width: 100%; }

img { vertical-align: middle; }

/**
* 텍스트 미 노출
*/
.blind { position: absolute; clip: rect(0 0 0 0); width: 1px; height: 1px; margin: -1px; overflow: hidden; color: transparent; }

.black { color: #111 !important; }

.white { color: #fff !important; }

.grey { color: #666 !important; }

.pink-1 { color: #f06998 !important; }

.indigo-1 { color: #8665EF !important; }

.indigo-1 * { color: #8665EF !important; }

.blue-1 { color: #4896F0 !important; }

.blue-1 * { color: #4896F0 !important; }

.teal-2 { color: #009688 !important; }

.teal-2 * { color: #009688 !important; }

.grey-5 { color: #888 !important; }

.grey-6 { color: #dedede !important; }

.grey-4 { color: #999 !important; }

.grey-24 { color: #111 !important; }

.up { color: #F14A76 !important; }

.up * { color: #F14A76 !important; }

.down { color: #4896F0 !important; }

.down * { color: #4896F0 !important; }

.tt { color: #888 !important; }

.tt * { color: #888 !important; }

.assets-tt { color: #666 !important; }

.assets-tt * { color: #666 !important; }

.assets-up { color: #009688 !important; }

.assets-up * { color: #009688 !important; }

.assets-down { color: #4896F0 !important; }

.assets-down * { color: #4896F0 !important; }

.txt-point1 { color: #009688; }

.txt-point1 * { color: #009688; }

.bg-white { background-color: #fff !important; }

.bg-indigo-1 { background-color: #4896F0 !important; }

.bg-blue-grey-1 { background-color: #01a6a0 !important; }

.bg-blue-grey-2 { background-color: #f2f3f9 !important; }

.bg-blue-grey-3 { background-color: #f9f9fc !important; }

.bg-grey-2 { background-color: #E5E5E5 !important; }

.bg-grey-7 { background-color: #F9F9FB !important; }

.bg-grey-9 { background-color: #f5f5f5 !important; }

@-webkit-keyframes spin { to { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }

@keyframes spin { to { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }

@-webkit-keyframes drift { from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  from { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }

@keyframes drift { from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  from { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }

@-webkit-keyframes wave { 0% { background-position-x: 0; }
  100% { background-position-x: -48px; } }

@keyframes wave { 0% { background-position-x: 0; }
  100% { background-position-x: -48px; } }

@-webkit-keyframes animate-width { 0% { width: 0; }
  100% { visibility: visible; } }

@keyframes animate-width { 0% { width: 0; }
  100% { visibility: visible; } }

@-webkit-keyframes animate-width-stacked { 0% { width: 50%; }
  100% { visibility: visible; } }

@keyframes animate-width-stacked { 0% { width: 50%; }
  100% { visibility: visible; } }

@-webkit-keyframes showItemUp { 0% { -webkit-transform: translateY(20px); transform: translateY(20px);
    opacity: 0; }
  100% { -webkit-transform: translateY(0px); transform: translateY(0px);
    opacity: 1; } }

@keyframes showItemUp { 0% { -webkit-transform: translateY(20px); transform: translateY(20px);
    opacity: 0; }
  100% { -webkit-transform: translateY(0px); transform: translateY(0px);
    opacity: 1; } }

@-webkit-keyframes floatspot { 0% { -webkit-transform: translateY(5px); transform: translateY(5px); }
  45% { -webkit-transform: translateY(0px); transform: translateY(0px); }
  100% { -webkit-transform: translateY(5px); transform: translateY(5px); } }

@keyframes floatspot { 0% { -webkit-transform: translateY(5px); transform: translateY(5px); }
  45% { -webkit-transform: translateY(0px); transform: translateY(0px); }
  100% { -webkit-transform: translateY(5px); transform: translateY(5px); } }

.my-UI { padding: 10px; }

.my-UI h1 { font-weight: 700; font-size: 24px; line-height: 24px; margin-bottom: 20px; }

.my-UI h1 * { font-size: 24px; line-height: 24px; }

.my-UI h2 { font-weight: 700; font-size: 20px; line-height: 20px; margin-bottom: 20px; }

.my-UI h2 * { font-size: 20px; line-height: 20px; }

.my-UI hr { border-style: hidden; margin: 30px 0; padding: 0; height: 1px; background-color: #aaa; }

.my-UI a { color: #009688; }

.my-UI pre { background-color: #000; margin-bottom: 20px; }

.my-UI pre code { color: #fff; line-height: 24px; }

.my-UI .color-area { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.my-UI .color-area .item { width: 10%; padding: 20px; }

html, body { font-size: 10px; }

header { background-color: #000; padding: 0 20px; }

header ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }

header ul li:first-child { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; }

header ul li:first-child a { font-weight: 700; }

header ul li a { font-size: 14px; color: #fff; display: block; padding: 20px; }

header ul li a.active { color: #eeff00; font-weight: 700; }

header + h1 { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; padding: 3rem; font-size: 25px; font-weight: 700; }

header + h1 span { margin-left: auto; font-size: 12px; line-height: 12px; font-weight: 700; }

header + h1 span * { font-size: 12px; line-height: 12px; }

.guideWrap, .my-wrap { display: -webkit-box; display: -ms-flexbox; display: flex; }

.guideWrap > nav, .my-wrap > nav { padding: 0 0 0 30px; width: 200px; }

.guideWrap > nav h2, .my-wrap > nav h2 { font-size: 16px; line-height: 16px; font-weight: 700; margin-bottom: 10px; }

.guideWrap > nav h2 *, .my-wrap > nav h2 * { font-size: 16px; line-height: 16px; }

.guideWrap > nav ul, .my-wrap > nav ul { margin-bottom: 20px; }

.guideWrap > nav ul li a, .my-wrap > nav ul li a { display: block; padding: 10px 0; font-size: 14px; }

.guideWrap > nav ul li a:hover, .my-wrap > nav ul li a:hover { color: #0014ff; }

.guideWrap .tbl_guide, .my-wrap .tbl_guide { width: 100%; }

.guideWrap nav { padding-left: 0; }

.my-container { padding: 0 30px; position: relative; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; margin-top: -30px; width: calc(100% - 200px); }

.my-container h2 { font-weight: 700; font-size: 24px; line-height: 24px; padding: 40px 0; }

.my-container h2 * { font-size: 24px; line-height: 24px; }

.my-container h2 + .guide-dec-area { margin-top: 10px; }

.my-container h3 { font-weight: 700; padding: 20px 0; }

.my-container h3 + .colors { margin-top: -10px; }

.my-container h3 + .guide-dec-area { margin-top: 0; }

.my-container hr { border: none; margin: 60px 0 0; border-top: 10px #000 solid; }

.my-container p.txt { padding-bottom: 10px; }

.my-container p.txt + .guide-dec-area { margin: 10px 0 20px; }

.my-container .my-nav-case-local { position: relative !important; }

.my-container .syntaxhighlighter { padding: 20px; background-color: #f7f7f9 !important; border-radius: 10px; margin: 0 !important; }

.my-container .syntaxhighlighter .line.alt1, .my-container .syntaxhighlighter .line.alt2 { padding: 0.1em 1em !important; background-color: transparent !important; }

.my-container .fonts { background-color: #111; padding: 20px; display: -webkit-box; display: -ms-flexbox; display: flex; }

.my-container .fonts div { width: 100%; }

.my-container .fonts * { color: #fff; padding: 10px; }

.my-container .fonts .Light { font-weight: 300; }

.my-container .fonts .Regular { font-weight: 400; }

.my-container .fonts .Bold { font-weight: 700; }

.my-container .fonts .s-11 { font-size: 11px; line-height: 11px; }

.my-container .fonts .s-11 * { font-size: 11px; line-height: 11px; }

.my-container .fonts .s-12 { font-size: 12px; line-height: 12px; }

.my-container .fonts .s-12 * { font-size: 12px; line-height: 12px; }

.my-container .fonts .s-13 { font-size: 13px; line-height: 13px; }

.my-container .fonts .s-13 * { font-size: 13px; line-height: 13px; }

.my-container .fonts .s-14 { font-size: 14px; line-height: 14px; }

.my-container .fonts .s-14 * { font-size: 14px; line-height: 14px; }

.my-container .fonts .s-15 { font-size: 15px; line-height: 15px; }

.my-container .fonts .s-15 * { font-size: 15px; line-height: 15px; }

.my-container .fonts .s-16 { font-size: 16px; line-height: 16px; }

.my-container .fonts .s-16 * { font-size: 16px; line-height: 16px; }

.my-container .fonts .s-18 { font-size: 18px; line-height: 18px; }

.my-container .fonts .s-18 * { font-size: 18px; line-height: 18px; }

.my-container .fonts .s-20 { font-size: 20px; line-height: 20px; }

.my-container .fonts .s-20 * { font-size: 20px; line-height: 20px; }

.my-container .fonts .s-21 { font-size: 21px; line-height: 21px; }

.my-container .fonts .s-21 * { font-size: 21px; line-height: 21px; }

.my-container .fonts .s-22 { font-size: 22px; line-height: 22px; }

.my-container .fonts .s-22 * { font-size: 22px; line-height: 22px; }

.my-container .fonts .s-24 { font-size: 24px; line-height: 24px; }

.my-container .fonts .s-24 * { font-size: 24px; line-height: 24px; }

.my-container .fonts .s-25 { font-size: 25px; line-height: 25px; }

.my-container .fonts .s-25 * { font-size: 25px; line-height: 25px; }

.my-container .fonts .s-26 { font-size: 26px; line-height: 26px; }

.my-container .fonts .s-26 * { font-size: 26px; line-height: 26px; }

.my-container .fonts .s-28 { font-size: 28px; line-height: 28px; }

.my-container .fonts .s-28 * { font-size: 28px; line-height: 28px; }

.my-container .fonts .s-29 { font-size: 29px; line-height: 29px; }

.my-container .fonts .s-29 * { font-size: 29px; line-height: 29px; }

.my-container .fonts .s-30 { font-size: 30px; line-height: 30px; }

.my-container .fonts .s-30 * { font-size: 30px; line-height: 30px; }

.my-container .fonts .sp { letter-spacing: 0 !important; }

.my-container .fonts + .txt { margin-top: 30px; }

.my-container .colors { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-bottom: 20px; }

.my-container .colors span { width: 100px; height: 100px; font-size: 14px; line-height: 14px; text-align: center; line-height: 100px; }

.my-container .colors span * { font-size: 14px; line-height: 14px; }

.my-container fieldset.guide { border: 1px solid #000; margin: 20px 0; padding: 10px; font-size: 12px; line-height: 20px; }

.my-container fieldset.guide * { font-size: 12px; line-height: 20px; }

.my-container fieldset.guide fieldset { margin: 5px 0 0; }

.my-container fieldset.guide.grey { background-color: #eee; }

.my-container fieldset.guide legend { display: block; position: static !important; left: 20px !important; top: 0 !important; width: auto !important; height: auto !important; padding: 0 4px !important; visibility: visible !important; font-size: 13px; line-height: 20px; text-indent: 0 !important; }

.my-container fieldset.guide legend * { font-size: 13px; line-height: 20px; }

.chart-guide-area { margin-top: 30px; padding-bottom: 100px; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.chart-guide-area .chart { position: relative; width: 33.3333333333%; height: 400px; padding: 40px 20px 0; border-right: 1px #000 solid; border-bottom: 1px #000 solid; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.chart-guide-area .chart:nth-of-type(3), .chart-guide-area .chart:nth-of-type(6), .chart-guide-area .chart:nth-of-type(9), .chart-guide-area .chart:nth-of-type(12), .chart-guide-area .chart:nth-of-type(15), .chart-guide-area .chart:nth-of-type(18), .chart-guide-area .chart:nth-of-type(21), .chart-guide-area .chart:nth-of-type(24), .chart-guide-area .chart:nth-of-type(27), .chart-guide-area .chart:nth-of-type(30), .chart-guide-area .chart:nth-of-type(33) { border-right: none; }

.chart-guide-area .chart > div { width: 100%; }

.chart-guide-area .chart .vue { position: absolute; left: 0; top: 0; background-color: #3EB27F; color: #fff; padding: 5px 10px; font-size: 12px; line-height: 12px; }

.chart-guide-area .chart .vue * { font-size: 12px; line-height: 12px; }

.chart-guide-area .chart .vue em { background-color: #eeff00; margin: -5px -10px; display: inline-block; }

.chart-guide-area .chart .d3 { position: absolute; left: 0; top: 0; background-color: #ff0000; color: #fff; padding: 5px 10px; font-size: 12px; }

.chart-guide-area .chart.d3-area { padding-top: 0; }

.chart-guide-area .chart.d3-area .img-area { display: block; margin: 0 auto; }

.chart-guide-area .chart.d3-area .img-area img { display: block; width: 295px; }

.chart-guide-area .chart > a { position: absolute; left: 0; right: 0; bottom: 0; background-color: #000; font-size: 14px; line-height: 14px; padding: 10px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.chart-guide-area .chart > a * { font-size: 14px; line-height: 14px; }

.chart-guide-area .chart > a em { color: #fff; }

.chart-guide-area .chart > a span { color: #fff; letter-spacing: 0 !important; }

.guide-dec-area { margin-top: 30px; }

.guide-dec-area li { font-size: 15px; color: #000; margin-bottom: 10px; padding-left: 10px; position: relative; min-height: 16px; }

.guide-dec-area li::before { content: ''; position: absolute; left: 0; top: 6px; background-color: #6e6e7a; width: 3px; height: 3px; border-radius: 3px; }

.guide-table th { background-color: #000; color: #fff; padding: 10px 0; font-size: 14px; line-height: 14px; }

.guide-table th * { font-size: 14px; line-height: 14px; }

.guide-table td { padding: 10px; font-size: 14px; line-height: 14px; border-bottom: 1px #000 solid; }

.guide-table td * { font-size: 14px; line-height: 14px; }
