<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<title>무궁화복지월드</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<!-- Favicon -->
	<link rel="shortcut icon" href="../member/favicon.ico">

	<!-- CSS Global Compulsory -->
	<link rel="stylesheet" href="../../../resources/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../../resources/css/blog.style.css">
	<!-- CSS Implementing Plugins -->
	<link rel="stylesheet" href="../../../resources/css/common.css">
   <link rel="stylesheet" href="../../../resources/css/slick.css">
	<link rel="stylesheet" href="../../../resources/plugins/owl-carousel/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="../../../resources/css/accounting.style.css">
     <link rel="stylesheet" href="../../../resources/css/build.css">
    <link rel="stylesheet" href="../../../resources/plugins/font-awesome/css/font-awesome.min.css">
</head>

<body class="header-fixed header-fixed-space-v2">
<div class="wrapper">
	<!--=== Header v8 ===-->
	<div class="header-v8 header-sticky">
		<!-- Topbar blog -->
		<div class="blog-topbar">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 col-xs-8">
					</div>
					<div class="col-sm-4 col-xs-4 clearfix">
						<ul class="topbar-list topbar-log_reg pull-right">
							<li class="cd-log_reg"><a class="cd-signin" href="javascript:void(0);">로그인</a></li>
							<li class="cd-log_reg"><a class="cd-signup" href="javascript:void(0);">회원가입</a></li>
                  			<li class="cd-log_reg"><a class="cd-signup" href="javascript:void(0);">Contact us</a></li>
               				<li class="cd-log_reg"><a class="cd-signup" href="javascript:void(0);">Sitemap</a></li>
						</ul>
					</div>
				</div><!--/end row-->
			</div><!--/end container-->
		</div>
		<!-- End Topbar blog -->

		<!-- Navbar -->
		<div class="navbar mega-menu" role="navigation">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="res-container">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button> 

					<div class="navbar-brand">
						<a href="../member/index.html">
							<img src="../../../resources/img/common/logo.png" alt="Logo">
						</a>
					</div>
				</div><!--/end responsive container-->

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-responsive-collapse">
					<div class="res-container">
						<ul class="nav navbar-nav">
							<!-- Home -->
							<li class="dropdown home active">
								<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
									복지월드 소개
								</a>
								<ul class="dropdown-menu">
									<li class="active"><a href="#">이사장 인사말</a></li>
									<li class="mobile"><a href="#">미션&amp;핵심가치&amp;비전</a></li>
									<li class="mobile"><a href="#">무궁화 복지월드 C.I.</a></li>
									<li class="mobile"><a href="#">연혁&amp;조직도</a></li>
									<li class="mobile"><a href="#">찾아오시는 길</a></li>
								</ul>
							</li>
							<!-- End Home -->

							<!-- World -->
							<li class="dropdown home">
								<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
									복지월드 사업
								</a>
								<ul class="dropdown-menu">
									<li class="active"><a href="#">취약계층 보호</a></li>
									<li class="mobile"><a href="#">자원봉사 및 봉사자 교육</a></li>
									<li class="mobile"><a href="#">지원 및 나눔활동</a></li>
									<li class="mobile"><a href="#">문화&amp;교육사업</a></li>
									<li class="mobile"><a href="#">환경 및 사회개발지원</a></li>
								</ul>
							</li>
							<!-- End World -->

							<!-- Fashion -->
							<li class="dropdown">
								<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
									나눔안내 및 신청
								</a>
							</li>
							<!-- End Fashion -->

							<!-- Archives -->
							<li class="dropdown">
								<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
									봉사활동 안내 및 참여
								</a>
							</li>
							<!-- End Archives -->

							<!-- Lifestyle -->
							<li class="dropdown home">
								<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
									커뮤니티
								</a>
							<ul class="dropdown-menu">
									<li class="active"><a href="#">공지사항</a></li>
									<li class="mobile"><a href="#">자료실</a></li>
									<li class="mobile"><a href="#">언론보도</a></li>
									<li class="mobile"><a href="#">영상자료</a></li>
								</ul>
							</li>
							<!-- End Lifestyle -->
						</ul>
					</div><!--/responsive container-->
				</div><!--/navbar-collapse-->
			</div><!--/end contaoner-->
		</div>
		<!-- End Navbar -->
	</div>
	<!--=== End Header v8 ===-->
  	<!--메인 비주얼 이미지-->
          <div class="sub_visual sub_visual_bg sub_visual_bg2">
         	 <div class="container sub_visual_img sub_visual_img2">
                 <h1>복지월드 사업</h1>
                 <h4>무궁화복지월드의 사업을 소개합니다.</h4>
              </div>
          </div>
      <!--메인 비주얼 이미지 영역 끝 -->
      <!--메인 컨텐츠 영역-->
       <div class="container" style="padding:0;">
       		<div class="left-field">
                <ul class="sub-menu">
                	<li class="on"><a href="#">취약계층보호</a></li>
                    <li><a href="#">자원봉사 및 봉사자교육</a></li>
                    <li><a href="#">지원 및 나눔활동</a></li>
                    <li><a href="#">문화&amp;교육사업</a></li>
                    <li><a href="#">환경 및 사회개발지원</a></li>
                </ul>
            </div>
            <div class="right-field">
                 <div class="location-box">
                    <p class="location-tit location-busi">취약계층보호</p>
                    <ul class="location" style="margin-top:18px;">
                        <li><a href="#">HOME</a></li>
                        <li><img src="../../../resources/img/common/local_icon.jpg" style="margin-top:-2px;"></li>
                        <li><a href="#">복지월드 사업</a></li>
                        <li><img src="../../../resources/img/common/local_icon.jpg" style="margin-top:-2px;"></li>
                        <li><a href="#">취약계층보호</a></li>
                    </ul>
                  </div>
                  <div class="mobile-box" style="width:100%;">
                  <div class="container">
                    <div class="panel-group">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse1">
                            	원하는 메뉴를 선택하세요.
                             </a>
                          </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse">
                          <ul class="list-group">
                            <li class="list-group-item"><a href="#">취약계층보호</a></li>
                            <li class="list-group-item"><a href="#">자원봉사 및 봉사자교육</a></li>
                            <li class="list-group-item"><a href="#">지원 및 나눔활동</a></li>
                            <li class="list-group-item"><a href="#">문화&amp;교육사업</a></li>
                            <li class="list-group-item"><a href="#">환경 및 사회개발지원</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <div class="row" style="padding:0px; width:100%;">
                <ul class="busi-txt">
                  <li>마음은 무엇이든 그려 넣을 수 있는 하얀 책과 같습니다.</li> 
                  <li>어떤 색을 칠하고 어떤 그림을 그리면 좋을까요. 그것은 바로 ‘행복’일 것입니다.</li> 
                  <li>누구나 누려야 할 <span>행복추구의 권리를 위한 세미나, 캠페인</span>을 실시하며</li>
                  <li><span>보호단체 및 시설을 지원</span>합니다.</li>
                </ul>
                <p class="busi-tit">구체적인 복지월드 사업</p>
                <div class="col-lg-12 col-xs-12 padding-left-0 padding-right-0">
             		<div class="col-lg-6 col-xs-6 padding-left-right-0 busi-12">
  								<img class="img-responsive" style="margin:0 auto;" src="../../../resources/img/business/business1-1.png">
								</div>
								<div class="col-lg-6 col-xs-6 busi-12">
  								<ol>
                    <li>- 아동권리의 옹호와 예방을 위한 전국 캠페인을 적극 전개</li>
                    <li>- 아동이 행복한 사회 구축을 위해 우선 순위로 부모교육 실시</li>
                    <li>- 아동행복 세미나를 시도단체를 선별하여 실시</li>
                    <li>- 여성가족부와 연계해 피학대아동 예방 캠페인을 적극 지원</li>
                    <li>- 아동 관련 단체 지원 및 협력사업 적극 전개</li>
                  </ol>
								</div>
                </div>
                 <div class="col-lg-12 col-xs-12 padding-left-0 padding-right-0" style="margin-bottom:130px;">
             		<div class="col-lg-6 col-xs-6 padding-left-right-0 busi-12">
  								<img class="img-responsive" style="margin:0 auto;" src="../../../resources/img/business/business1-2.png">
								</div>
								<div class="col-lg-6 col-xs-6 busi-12">
  								<ol>
                   		<li>- 아동이 행복한 사회 구축의 일환으로 “아동학대예방 심포지엄” 개최</li>
                      <li>- 아동이 행복한 사회 후원의 밤 개최</li>
                      <li>- 세계적 아동인권운동협회와 공동으로 아동권리 향상 전문위원회 설치</li>
                      <li>- 아동인권 개발위원회 운영</li>
                  </ol>
								</div>
                </div>
 
   
			 				</div>
   	</div>
  
  
  
  </div>
  <!--메인 컨텐츠 영역 끝-->
</div><!--/wrapper-->
<div class="footer-v8">
		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-2 image col-md-offset-1 footer-layout margin-top-20 foot-border-none">
                        <h3 class="font-black">복지월드 소개</h3>
                        <ul class="list-unstyled" style="margin-bottom:0;">
                            <li><a href="#">이사장인사말</a></li>
                            <li><a href="#">미션&amp;핵심가치&amp;비전</a></li>
                            <li><a href="#">무궁화복지월드 CI</a></li>
                            <li><a href="#">연혁&amp;조직도</a></li>
                            <li><a href="#">찾아오시는 길</a></li>
                        </ul>
                	</div>
                    <div class="col-md-2 image footer-layout footer-width margin-top-20">
                        <h3 class="font-black">복지월드 사업</h3>
                        <ul class="list-unstyled" style="margin-bottom:0;">
                            <li><a href="#">취약계층 보호</a></li>
                            <li><a href="#">자원봉사 및 봉사자 교육</a></li>
                            <li><a href="#">지원 및 나눔활동</a></li>
                            <li><a href="#">문화&amp;교육사업</a></li>
                            <li><a href="#">환경 및 지역개발 지원</a></li>
                        </ul>
                	</div>
                	<div class="col-md-2 image foot-top2 footer-layout margin-top-20 foot-border-none3 margin-small2">
                        <h3 class="font-black">커뮤니티</h3>
                        <ul class="list-unstyled margin-bottom-28">
                            <li><a href="#">공지사항</a></li>
                            <li><a href="#">자료실</a></li>
                            <li><a href="#">언론보도</a></li>
                            <li><a href="#">영상자료</a></li>
                        </ul>
                	</div>
                <div class="col-md-2 image footer-layout foot-top foot-border margin-top-20 margin-small foot-border-none2 foot-border-none4">
                	<ul class="list-unstyled margin-bottom-88">
                        <li><a href="#"><h3 class="font-black">나눔안내 및 신청</h3></a></li>
                        <li><a href="#"><h3 class="font-black">봉사활동 안내 및 참여</h3></a></li>
                    </ul>
                </div>
                <div class="col-md-3 image footer-layout foot-top margin-top-20 margin-small foot-border-none3 foot-clear">
                    <div class="footer-line">
                    <h3 class="font-black">후원문의</h3>
                    <h3 class="font-black">02. 857. 5635</h3>
                    </div>
                    <ul class="list-unstyled" style="margin-bottom:0;">
                         <li><h3 class="font-black" style="margin-top:17px;">함께하는 단체</h3></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
    			</div>
			</div>
		</footer>
        	<footer class="copyright">
			<div class="container">
				<ul class="list-inline terms-menu">
					<li><a href="#">복지월드 소개</a></li>
					<li><a href="#">저작권 안내</a></li>
					<li><a href="#" style="color:#cc0000;">개인정보 취급방침</a></li>
          			<li><a href="#">이용약관</a></li>
					<li><a href="#">오시는 길</a></li>
				</ul>
        <ul class="list-inline adress-layout">
					<li><strong>무궁화복지월드</strong></li>
					<li class="adress-padding">주소 : 서울 구로구 공원로6길 11 2층</li>
					<li>전화번호 : 02-857-5635</li>
				</ul>
        <p>
        	Copyright 2015 <strong>Mworld</strong> All Rights Reserved. Powered by <strong>Mugunghwa Welfare World</strong>
        </p>
			</div><!--/end container-->
		</footer>

	</div>
<!-- JS Global Compulsory -->
<script src="../../../resources/plugins/jquery/jquery.min.js"></script>
<script src="../../../resources/plugins/jquery/jquery-migrate.min.js"></script>
<script src="../../../resources/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->
<script src="../../../resources/plugins/back-to-top.js"></script>
<!--[if lt IE 9]>
	<script src="assets/plugins/respond.js"></script>
	<script src="assets/plugins/html5shiv.js"></script>
	<script src="assets/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->
</body>
</html>
