@import url(http://fonts.googleapis.com/css?family=Noto+Sans);
ul,li{
list-style:none;
}
body,p,span{
font-family: 'Noto Sans', sans-serif;
}
.row{
display:block;
}
#wrapper{
position: inherit;
margin: 0px;
height:100%;
padding-top:!0px;
background: #e9e9e9 url("../img/body_bg.png") repeat scroll 0px 0px;
}
.ibox-title {
padding: 5px 15px;
height: 100%;
min-height:80px;
background: #E9E9E9;
background: -moz-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #e9e9e9));
background: -webkit-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
background: -o-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
background: -ms-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
background: linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
border: 1px solid #D5D5D5;
border-bottom:2px solid #d5d5d5;
-webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-moz-border-radius-topleft: 4px;
-moz-border-radius-topright: 4px;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
}
.ibox-content{
-webkit-border-top-left-radius: 0px;
-webkit-border-top-right-radius: 0px;
-moz-border-radius-topleft:0px;
-moz-border-radius-topright: 0px;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
-webkit-border-bottom-left-radius: 3px;
-webkit-border-bottom-right-radius: 3px;
-moz-border-radius-bottomleft:3px;
-moz-border-radius-bottomright: 3px;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
overflow:hidden; 
border: 1px solid #D5D5D5;
border-top:0px;
}
.ibox{
background: #FFF;
border: 1px solid #D5D5D5;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: 3px 6px 5px 0px rgba(235,235,235,1);
-moz-box-shadow: 3px 6px 5px 0px rgba(235,235,235,1);
box-shadow: 3px 6px 5px 0px rgba(235,235,235,1);
}
.member-height{
line-height:6.2rem;
}
.member-height3{
line-height:4.8rem;
}
.member-height2{
line-height:5rem;
}
.kyogaku-height{
line-height:6.2rem;
}
.organi-height{
line-height:5.8rem;
}
.chart-circle{
display:inline-block;
width:12px; 
height:12px;  
border-radius:10px; 
padding-top:5px;
margin-right:10px;
}								
.number-font{
font-family:Helvetica Neue,Helvetica,Arial,sans-serif;	
}							
.float-right{
float:right;
}		
.title{
font-weight:bold; 
float:left;	
font-size:4.6rem;
text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
}
.sub_title{
font-size:2.2rem; 
padding-left:6px; 
color:#a2a2a2;
}
.list-size{
font-size:3.2rem;
padding:0; 
margin:0; 
margin-top:8px; 
float:right; 
border-left:1px solid #d3d3d3; 
padding-left:12px;
}
.member-size{
font-size:2.6rem;
}
.main{
padding:20px; 
margin:0; 	
}
.data_number{  
font-family:Helvetica Neue,Helvetica,Arial,sans-serif;  
font-weight:bold; 
text-align:center;
width:40%; margin:0; float:left; font-size:5rem; border:none;
margin-left:10px;
}
.data_number2{
font-size:4.8rem; 
padding-left:2px; 
text-align:center; 
font-family:Helvetica Neue,Helvetica,Arial,sans-serif; 
margin-bottom:10px; 
font-weight:bold; 
padding-top:10px; 
padding:15px 0;
}
.data_number_small{
color:#00ACAC; 
font-weight:bold; 
width:40%; float:right; margin:0; font-size:3.4rem; border:none; margin-top:15px;
text-align:right;	
margin-top:8px;
}
.data_number_table{
width:100%; 
overflow:hidden; 
display:block; 
border-bottom:1px solid #d3d3d3;
}
.data-table{
width:88%;
}
.date{
clear:both; 
font-size:2.5rem; 
text-align:right; 
color:#999; 
width:100%; 
padding:12px 5px 8px 0; 
margin:0; 
border-top:1px solid #d3d3d3;
}
.sosiki{
font-size:3.2rem;
}
/*chart*/
.bar1{
width: 139.6%; 
min-height: 460px; 
margin-top:12px; 
margin-left:-30px;
}
.pie1{
width:144%; 
min-height:460px; 
margin-left:-50px; 
margin-top:-50px;
}
#pie_chart{
height:524px;
}
.line1{
max-width:100%; 
min-height:354px;
}
.line2{
max-width:100%; 
min-height:398px;
}
.padding{
padding:10px;
}
@media all and (min-width:1920px) and (max-width:2562px){
.col-lg-4{
padding-left:12px;
padding-right:12px;
}
.col-lg-6{
padding-left:5px;
padding-right:5px;
}
.ibox-title {
height: 100%;
min-height:56px;
}
.ibox-content{
padding: 15px 20px 8px 20px;
}
/*chart*/
.bar1{
width:154%;
min-height: 336px; 
margin-top:12px; 
margin-left:-30px;
}
#pie_chart{
height:300px;
}
.pie1{
width:120%; 
min-height:400px;
margin-left:-15px; 
}
.line1{
max-width:100%; 
min-height:354px;
}
.line2{
max-width:100%; 
min-height:350px;
margin:0 auto;
}
.member-height{
line-height:4.4rem;
}
.member-height2{
line-height:3.6rem;
}
.member-height3{
line-height:3.6rem;
}
.kyogaku-height{
line-height:6.2rem;
}
.organi-height{
line-height:5.8rem;
}					
.title{
font-size:2.8rem;
}
.sub_title{
font-size:2.2rem; 
}
.list-size{
font-size:1.8rem;
}
.data_number{
font-size:2rem; 
}
.data_number2{
font-size:2.2rem; 
}
.data_number_small{
font-size:1.2rem;
}
.d_num_1920{
font-size:1rem;
}
.date{
font-size:1.8rem; 
}
.sosiki{
font-size:1.8rem;
}
.padding{
padding:20px;
}
.data-table{
width:96%;
}
}